<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="UTF-8">
		<title>卖场网-评论</title>
		<link rel="stylesheet" href="/public/css/reset_pj.css" />
		<link rel="stylesheet" href="/public/css/comment.css"/>
		<script src="/public/js/comment.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<nav>
			<div class="items active">口碑评价</div>
			<div class="items">秀家评价</div>
		</nav>
		<section class="main current">
			<div class="com_list">
				<div class="user_img">
					<img src="/public/images/loading.png" alt="" />
				</div>
				<div class="com_content">
					<h2 class="user_name">高小姐 <a href="javascript:;" class="rep_btn">回复</a></h2>
					<div class="time">
						<span>第100楼</span>
						<span>15分钟前</span>
					</div>
					<div class="words">
						在用餐空间的一大面鲜明大胆红色艺术彩绘画作，崁入可推拉式的自由隔间门模糊牆与门的界线
					</div>
					<!--回复列表-->
					<div class="user_back">
						<div class="b_list">
							<p><a href="#">温馨张小姐:</a>崁入可推拉式的自由隔间门模隔间<span>14-10-10</span></p>
							<p><a href="#">温馨张小姐:</a>崁入可推拉式的自由隔间门模隔间<span>14-10-10</span></p>
						</div>
						<div class="more">
							<a href="#">查看全部5条回复...</a>
						</div>
					</div>
				</div>
			</div>
			<div class="com_list">
				<div class="user_img">
					<img src="/public/images/loading.png" alt="" />
				</div>
				<div class="com_content">
					<h2 class="user_name">高小姐<a href="javascript:;" class="rep_btn">操作</a></h2>
					<div class="time">
						<span>第100楼</span>
						<span>15分钟前</span>
					</div>
					<div class="words">
						在用餐空间的一大面鲜明大胆红色艺术彩绘画作，崁入可推拉式的自由隔间门模糊牆与门的界线
					</div>
					<!--回复列表-->
					<div class="user_back">
						<div class="b_list">
							<p><a href="#">温馨张小姐:</a>崁入可推拉式的自由隔间门模隔间<span>14-10-10</span></p>
							<p><a href="#">温馨张小姐:</a>崁入可推拉式的自由隔间门模隔间<span>14-10-10</span></p>
						</div>
						<div class="more">
							<a href="#">查看全部5条回复...</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="main">
			<div class="com_list">
				<div class="user_img">
					<img src="/public/images/loading.png" alt="" />
				</div>
				<div class="com_content">
					<h2 class="user_name">高小姐2<a href="javascript:;" class="rep_btn">操作</a></h2>
					<div class="time">
						<span>第100楼</span>
						<span>15分钟前</span>
					</div>
					<div class="words">
						在用餐空间的一大面鲜明大胆红色艺术彩绘画作，崁入可推拉式的自由隔间门模糊牆与门的界线
					</div>
					<!--回复列表-->
					<div class="user_back">
						<div class="b_list">
							<p><a href="#">温馨张小姐:</a>崁入可推拉式的自由隔间门模隔间<span>14-10-10</span></p>
							<p><a href="#">温馨张小姐:</a>崁入可推拉式的自由隔间门模隔间<span>14-10-10</span></p>
						</div>
						<div class="more">
							<a href="#">查看全部5条回复...</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="reply">
			<input id="txt" type="text" />
			<a id="return" href="javascript:;">发送</a>
		</div>
		<div class="model">
			<div class="model_container">
				<ul>
					<li><a class="show_btn" href="javascript:;">回复</a></li>
					<li><a class="show_btn" href="javascript:;">举报</a></li>
					<li><a href="javascript:;">取消</a></li>
				</ul>
			</div>	
		</div>
	</body>
</html>
