body{
	max-width: 37.5rem;
	width: 16rem;
}
header{
	width: 100%;
	height: 2.2rem;
	border-top: 0.05rem solid #f3f3f3;
	border-bottom: 0.05rem solid #dddddd;
	background-color: #fff;
	line-height: 2.2rem;
	font-size: 0.7rem;
}
header p{
	float: left;
	width: 12.625rem;
	padding-left: 1.1rem;
	box-sizing: border-box;
	color: #666666;
	position: relative;
}
header p:before{
	content: "";
	position: absolute;
	width: 0.05rem;
	height: 1rem;
	background-color: #dddddd;
	right: 0;
	top: 0.6rem;
}
header a{
	display: block;
	text-align: center;
	float: right;
	width: 3.375rem;
	color: #acacac;
}
header a .sel_icon{
	display: inline-block;
	width: 0.625rem;
	height: 0.65rem;
	margin-left: 0.08rem;
	background: url(../images/icon_sel.png) no-repeat center top;
	background-size: 1.75rem 2.5rem;
	vertical-align: middle;
}
section{
	width: 100%;
}
section .list{
	background-color: #f3f3f3;
	overflow: hidden;
}
section .list .items{
	margin-top: 0.5rem;
	border-bottom: 1px solid #dddddd;
	background-color: #fff;
}
section .list .items .pic{
	display: block;
	position: relative;
	width: 100%;
	height: 11.25rem;
	background: url(../images/loading.png) no-repeat center center;
	background-size: 7.5rem 7.5rem;
}
section .list .items .pic img{
	width: inherit;
	height: inherit;
}
section .list .items .pic .to_tip{
	position: absolute;
	width: 1.6rem;
	height: 1.55rem;
	background: url(../images/icon_sel.png) no-repeat center bottom;
	background-size: 1.75rem 2.5rem;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0.15rem;
	text-align: center;
	color: #fff;
	font-size: 0.6rem;line-height: 1.3rem;
}
section .list .items .intro{
	width: 100%;
	position: relative;
	height: 3.25rem;
}
section .list .items .intro .reply{
	width: 2.25rem;
	height: 0.85rem;
	background-color: #6bcb6c;
	border-radius: 0.1rem;
	text-align: center;
	line-height: 0.85rem;
	color: #fff;
	font-size: 0.6rem;
	position: absolute;
	left: 0.5rem;
	top:0.55rem
}
section .list .items .intro .name{
	text-align: center;
	line-height: 1.95rem;
	height: 1.95rem;
	color: #7175e0;
	font-size: 0.8rem;
}
section .list .items .intro .intro_b{
	line-height: 0.7rem;
	font-size: 0.7rem;
	overflow: hidden;
	padding: 0 0.5rem;
}
section .list .items .intro .intro_b .time{
	float: right;
	color: #999999;
	font-size: 0.65rem;
}
.renovate{
	width: 100%;
	/*height: 2rem;*/
	line-height: 2rem;
	text-align: center;
	/*background-color: yellowgreen;*/
	/*position: fixed;
	bottom: 0;*/
	display: none;
}
.renovate img{
	display: inline;
	width: 1.65rem;
	height: 1.65rem;
	vertical-align: middle;
}
.loading{
	position:fixed;
	box-sizing: border-box;
	padding: 0.175rem 0.3375rem;
	width: 3.3rem;
	height:3.3rem;
	padding: ;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
	background-color: rgba(0,0,0,0.5);
	border-radius: 0.3rem;
	display: none;
}
.loading img{
	width: 2.625rem;
	height: 2.95rem;
}
