@charset "utf-8";
/* CSS Document */
@font-face {
	font-family:'FZLTTHJW';
	src:url('../font/方正兰亭特黑_GBK.TTF') format('truetype');
	font-weight:normal;
	font-style:normal;
	}
@font-face {
	font-family:'FZLTXHK';
	src:url('../font/方正兰亭纤黑_GBK.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
	}
@font-face {
	font-family:'Neutraface2Display';
	src:url('../font/neutraface2display-titling.otf') format('opentype');
	font-weight:normal;
	font-style:normal;
	}
.top-container{
	width:100%;
	height:77px;
	border-bottom:1px solid #dee3e4;
	background:#fff;
	}
.top{
	width:1200px;
	height:100%;
	margin:0 auto;
	overflow:hidden;
	}
.logo{
	width:124px;
	height:52px;
	float:left;
	margin-left:24px;
	margin-top:13px;
	}
.logo img{
	width:124px;
	height:52px;
	}
.location{
	float:left;
	width:234px;
	height:77px;
	line-height:77px;
	}
.location img{
	margin-left:61px;
	vertical-align:middle;
	}
.location span{
	padding:0 9px 0 5px;
	vertical-align:middle;
	font-size:12px;
	font-family:"simsun";
	color:#c3c6c6;
	}
.location a{
	vertical-align:middle;
	font-family:"simsun";
	font-size:12px;
	color:#49b7f5;
	}
.nav{
	width:auto;
	height:100%;
	float:left;
	}
.nav li{
	float:left;
	width:120px;
	height:100%;
	border-left:1px solid #edf0f2;
	
	}
.nav li a{
	display:block;
	text-align:center;
	line-height:77px;
	width:120px;
	height:100%;
	font-family:"simsun";
	font-size:14px;
	color:#999e9e;
	}
.login{
	text-align:right;
	}
.login a{
	color:#7ecc26 !important;
	}
.banner{
	width:100%;
	height:833px;
	background:url(../images/pc9/banner.jpg) no-repeat;
	overflow:hidden;
	}
.banner>div{
	width:1200px;
	height:100%;
	margin:0 auto;
	position:relative;
	}
.logo2{
	position:absolute;
	left: 379px;
    top: 34px;
	}
.content1-box{
	width:100%;
	height:auto;
	overflow:hidden;
	background:#fff;
	}
.content1{
	width:1200px;
	height:auto;
	margin:0 auto;
	}
.content1-title{
	width:175px;
	height:101px;
	margin:23px auto 0;
	}
.content1 p{
	font-size: 30px;
	font-family: "FZLanTingHeiS-UL-GB";
	color:#000;
	line-height:70px;
	text-align:center;
	}
.content1>label{
	padding:0 17px;
	}

.ad-box{
	width:100%;
	height:294px;
	margin-top:40px;
	margin-bottom:60px;
	}
.ad-box li{
	float:left;
	height:294px;
	width:252px;
	margin:0 74px;
	position:relative;
	text-align:center;
	}
.ad-box li img{
	position:relative;
	text-align:center;
	z-index:99;
	}
.font-box{
	position:absolute;
	left:15px;
	bottom:15px;
	width:222px;
	height:142px;
	z-index:2;
	}
.font-title1{
	display:block;
	font-size: 24px;
	font-family: "FZLTTHJW";
	color:#ffffff;
	height:24px;
	margin-top:42px;
	}
.font-title2{
	display:block;
	font-size: 14px;
	height:14px;
	padding:7px 0 10px 0; 
  	font-family: "FZLTXHK";
	color:#ffffff;
	}
.link-box{
	width:163px;
	height:36px;
	margin:0 auto;
	border-top:1px dashed rgba(255,255,255,0.5);
	padding-top:7px;
	}


.link-box a{
	display:inline-block;
	padding:0 14px;
	border:1px solid #fff;
	border-radius:8px;
	font-size: 18px;
	line-height:26px;
	font-family: "FZLTXHK";
	color:#fff;

	}
.orange{
	background: #ffad87;
    background: -moz-linear-gradient(top,  #ffad87 0%, #f6824c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffad87), color-stop(100%,#f6824c));
    background: -webkit-linear-gradient(top,  #ffad87 0%,#f6824c 100%);
    background: -o-linear-gradient(top,  #ffad87 0%,#f6824c 100%);
    background: -ms-linear-gradient(top,  #ffad87 0%,#f6824c 100%);
    background: linear-gradient(to bottom,  #ffad87 0%,#f6824c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffad87', endColorstr='#f6824c',GradientType=0 );
	}
.green{
	background: #59c5b6;
    background: -moz-linear-gradient(top,  #59c5b6 0%, #26a391 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#59c5b6), color-stop(100%,#26a391));
    background: -webkit-linear-gradient(top,  #59c5b6 0%,#26a391 100%);
    background: -o-linear-gradient(top,  #59c5b6 0%,#26a391 100%);
    background: -ms-linear-gradient(top,  #59c5b6 0%,#26a391 100%);
    background: linear-gradient(to bottom,  #59c5b6 0%,#26a391 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59c5b6', endColorstr='#26a391',GradientType=0 );
	}
.yellow{
	background: #f6c664;
    background: -moz-linear-gradient(top,  #f6c664 0%, #ecad2e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6c664), color-stop(100%,#ecad2e));
    background: -webkit-linear-gradient(top,  #f6c664 0%,#ecad2e 100%);
    background: -o-linear-gradient(top,  #f6c664 0%,#ecad2e 100%);
    background: -ms-linear-gradient(top,  #f6c664 0%,#ecad2e 100%);
    background: linear-gradient(to bottom,  #f6c664 0%,#ecad2e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6c664', endColorstr='#ecad2e',GradientType=0 );
	}

.hui{
	position:absolute;
	bottom:0;
	left:0;
	width:252px;
	height:114px;
	background:#c7c7c7;
	z-index:1;
	}
	


/*卖场理念*/
.idea{
	width:100%;
	min-width:1200px;
	/*height:437px;*/
	height:377px;
	position:relative;
	}
.idea>img{
	display:block;
	margin:65px auto 14px;
	width:191px;
	height:50px;
	}
.idea-p1{
	font-size: 25px;
	font-family: "FZLTXHK";
	color: rgba(0, 0, 0, 0.71);
	line-height:47px;
	height:47px;
	text-align:center;
	}
.idea-p2{
	text-align:center;
	font-size: 18px;
	font-family: "FZLTCHJW";
	color:#0fc1a2;
	margin-bottom:20px;
	}
.idea-p3{
	font-size: 15px;
	font-family: "FZLTXHK";
	color: rgb(0, 0, 0);
	line-height: 26px;
	text-align: center;
	}
.idea-left{
	width:34px;
	height:67px;
	position:absolute;
	left:50%;
	top:240px;
	margin-left:-150px;
	}
.idea-right{
	width:34px;
	height:67px;
	position:absolute;
	right:50%;
	top:240px;
	margin-right:-150px;
	}

.btm-nav{
	width:100%;
	min-width:1200px;
	height:98px;
	background:#0fc1a2;
	padding-top:30px;
	}
.btm-nav ul{
	width:1200px;
	height:68px;
	margin:0 auto;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	text-align:center;
	}
.btm-nav ul li{
	display:inline-block;
	}
.btm-nav ul li a{
	display:block;
	height:68px;
	line-height:68px;
	padding:0 15px;
	font-size: 25px;
	font-family: "Microsoft YaHei";
	color:#fff;
	}
.a-check{
	background:#fff;
    color:#000 !important;
	}
.footer-all{
		width:100%;
		height:347px;
		background:#1d2030;
		overflow:hidden;
		}
	
	.footer{
		width:1200px;
		height:100%;
		margin:59px auto 0 auto;
		overflow:hidden;
		}
	.footer-items{
		width:272px;
		float:left;
		}
	.fitem-title{
		margin-bottom:40px;
		width:100%;
		font-size:14px;
		color:#8b93c3;
		}
	.fitem-li{
		height:38px;
		line-height:38px;
		width:100%;
		font-size:12px;
		color:#3a456b;
		}
	.footer-erweima{
		width:375px;
		float:right;
		margin-right:8px;
		overflow:hidden;
		}
	.erweima{
		width:100px;
		height:auto;
		float:right;
		}
	.erweima>img{
		width:100%;
		height:100px;
		}
	.erweima>p{
		text-align:center;
		font-size:12px;
		color:#3a456b;
		}
	.footer-erweima>p{
		text-align:right;
		font-size:12px;
		color:#3a456b;
		line-height:25px;
		}
	.ff-mar{
		margin-top:40px;
		}
@charset "utf-8";
/* CSS Document */
@font-face {
	font-family:'FZLTCHJW';
	src:url('../font/方正兰亭粗黑_GBK.TTF') format('truetype');
	font-weight:normal;
	font-style:normal;
	}
.heading{
	width:100%;
	min-width:1200px;
	height:185px;
	background:url(../images/pc9/headbg.png) center center no-repeat;
	}
.heading p{
	text-align:center;
	}
.p1{
	height:6px;
	font-size: 6px;
	font-family: "FZLanTingHeiS-UL-GB";
	color:rgba(255,255,255,0.5);
	letter-spacing:24px;
	padding-top:39px;
	}
.p2{
	height:52px;
	font-size:52px;
	font-family: "Neutraface2Display";
	color:#454545;
	margin-top:10px;
	}
.p2 span{
	color:#fff;
	font-weight:bold;
	}
.p3{
	height:18px;
	font-size:18px;
	font-family: "FZLanTingHeiS-UL-GB";
	color: rgba(255, 255, 255,0.5);
	margin-top:22px;
	}
.bg1{
	background:url(../images/pc9/bg1.png) repeat-x;
	}
.bg2{
	background:url(../images/pc9/bg2.png) repeat-x;
	}
.bg3{
	background:url(../images/pc9/bg3.png) repeat-x;
	}
.item-box{
	width:100%;
	min-width:1200px;
	height:1511px;
	}
.item{
	width:1060px;
	height:1422px;
	margin:0 auto;
	background:#fff;
	border:solid #fff;
	border-width:16px 22px 20px 22px;
	}
.item-pho{
	width:100%;
	height:580px;
	margin-bottom:11px;
	border-top-left-radius: 89px;
    border-top-right-radius: 89px;
    overflow: hidden;
	}
.item-pho>img{
	width:100%;
	height:580px;
	}
.item ul{
	width:100%;
	height:auto;
	overflow:hidden;
	}
.item ul li{
	float:left;
	width:349px;
	height:272px;
	margin-right:6px;
	margin-bottom:10px;
	position:relative;
	}
.item ul li:nth-child(3n){
	margin-right:0;
	}
.shop{
	width:262px;
	height:126px;
	background:rgba(0,0,0,0.7);
	position:absolute;
	left:43px;
	top:73px;
	text-align:center;
	}
.shop-head{
	font-size: 40px;
	font-family: "FZLTCHJW";
	color: #fff;
	text-align:center;
	height:40px;
	margin-top:17px;
	}
.shop-head2{
	font-size: 14px;
	font-family: "FZLTXHK";
	color:#fff;
	height:14px;
	text-align:center;
	margin-top:9px;
	}
.shop-btn{
	display:inline-block;
	margin-top:12px;
	height:24px;
	padding:0 14px;
	border:1px solid #fff;
	border-radius:10px;
	font-size: 16px;
	font-family: "FZLTXHK";
	color:#fff;
	text-align:center;
	line-height:24px;
	}
