<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>H5_10</title>
<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">

<link rel="stylesheet" type="text/css" href="/public/css/reset.css">
<link rel="stylesheet" type="text/css" href="/public/css/public.css">
<link rel="stylesheet" type="text/css" href="/public/css/H5_10.css">
    
<script src="/public/js/jquery-1.11.3.min.js"></script>
<script src="/public/js/public.js"></script>


</head>

<body>
	<header>
    	<div class="logo"><img src="/public/images/H5_10/logo.png" /></div>
        <a href="#" class="butie"><img src="/public/images/H5_10/butie@2x.png" /></a>
    </header>
    <section class="one-bg">
      <a href="#"><div class="title">
       	  <p>Classic blue</p>
            <p>汉莎橱柜 田园时尚书柜</p>
        </div></a>
        <a href="#"><div class="picture"><img src="/public/images/H5_10/picture.png" /></div></a>
        <div class="detail">
        	<a href="#"><div class="money">
                <img src="images/H5_10/bu.png" />
                <span>￥600</span>
            </div></a>
            <p class="address">番禺吉盛伟邦2F208号</p>
        </div>
    </section>
    <section class="two-bg">
    	<a href="#"><div class="title">
        	<p>Classic blue</p>
            <p>汉莎橱柜 田园时尚书柜</p>
        </div></a>
        <a href="#"><div class="picture"><img src="/public/images/H5_10/picture.png" /></div></a>
        <div class="detail">
        	<a href="#"><div class="money">
                <img src="/public/images/H5_10/bu.png" />
                <span>￥600</span>
            </div></a>
            <p class="address">番禺吉盛伟邦2F208号</p>
        </div>
    </section>
    <section class="three-bg">
    	<a href="#"><div class="title">
        	<p>Classic blue</p>
            <p>汉莎橱柜 田园时尚书柜</p>
        </div></a>
        <a href="#"><div class="picture"><img src="/public/images/H5_10/picture.png" /></div></a>
        <div class="detail">
        	<a href="#"><div class="money">
                <img src="/public/images/H5_10/bu.png" />
                <span>￥600</span>
            </div></a>
            <p class="address">番禺吉盛伟邦2F208号</p>
        </div>
    </section>
    <section class="four-bg">
    	<a href="#"><div class="title">
        	<p>Classic blue</p>
            <p>汉莎橱柜 田园时尚书柜</p>
        </div></a>
        <a href="#"><div class="picture"><img src="/public/images/H5_10/picture.png" /></div></a>
        <div class="detail">
        	<a href="#"><div class="money">
                <img src="/public/images/H5_10/bu.png" />
                <span>￥600</span>
            </div></a>
            <p class="address">番禺吉盛伟邦2F208号</p>
        </div>
    </section>
    <section class="five-bg">
    	<a href="#"><div class="title">
        	<p>Classic blue</p>
            <p>汉莎橱柜 田园时尚书柜</p>
        </div></a>
        <a href="#"><div class="picture"><img src="/public/images/H5_10/picture.png" /></div></a>
        <div class="detail">
        	<a href="#"><div class="money">
                <img src="/public/images/H5_10/bu.png" />
                <span>￥600</span>
            </div></a>
            <p class="address">番禺吉盛伟邦2F208号</p>
        </div>
    </section>
    <section class="six-bg">
    	<a href="#"><div class="title">
        	<p>Classic blue</p>
            <p>汉莎橱柜 田园时尚书柜</p>
        </div></a>
        <a href="#"><div class="picture"><img src="/public/images/H5_10/picture.png" /></div></a>
        <div class="detail">
        	<a href="#"><div class="money">
                <img src="/public/images/H5_10/bu.png" />
                <span>￥600</span>
            </div></a>
            <p class="address">番禺吉盛伟邦2F208号</p>
        </div>
    </section>
    <section class="seven-bg">
    	<a href="#"><div class="title">
        	<p>Classic blue</p>
            <p>汉莎橱柜 田园时尚书柜</p>
        </div></a>
        <a href="#"><div class="picture"><img src="/public/images/H5_10/picture.png" /></div></a>
        <div class="detail">
        	<a href="#"><div class="money">
                <img src="/public/images/H5_10/bu.png" />
                <span>￥600</span>
            </div></a>
            <p class="address">番禺吉盛伟邦2F208号</p>
        </div>
    </section>
    <link rel="stylesheet" type="text/css" href="http://topic.mc.cc/static/shadow.css?v=1111">
	<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="http://topic.mc.cc/static/fs_shadow.js"></script>
    <script>
        $(function () {
            fs_shadow.initDom("http://tool.mc.cc/mcf2");
            $.post("http://topic.mc.cc/wx.php", {method: "getwxconfig", url: window.location.href}, function (data) {
                wx.config({
                    debug: false,
                    appId: data.appId,
                    timestamp: data.timestamp,
                    nonceStr: data.nonceStr,
                    signature: data.signature,
                    jsApiList: [
                        'onMenuShareTimeline',
                        'onMenuShareAppMessage'
                    ]
                });
                wx.ready(function () {
                    var shareData64 = {
                        title: '这里写标题',
                        desc: '这里写描述',
                        link: window.location.href,
                        imgUrl: "http://topic.mc.cc/h5/images/xxxx 这里放转发头图url"
                    };
                    wx.onMenuShareAppMessage(shareData64);
                    wx.onMenuShareTimeline(shareData64);
    
                });
    
                wx.error(function (res) {
                    alert(res.errMsg + " wx");
                });
    
            }, "json")
        })
    
    </script>
</body>
</html>
