<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>H5_12</title>
<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">

<link rel="stylesheet" type="text/css" href="/public/css/reset.css">
<link rel="stylesheet" type="text/css" href="/public/css/public.css">
<link rel="stylesheet" type="text/css" href="/public/css/H5_12.css">
    
<script src="/public/js/jquery-1.11.3.min.js"></script>
<script src="/public/js/public.js"></script>


</head>
<body>
	<header>
    	<img src="/public/images/H5_12/header.png" />
        <a href="#" class="butie2"><img src="/public/images/H5_12/ann@2x.png" /></a>
    </header>
    <section class="bg1">
    	<div class="top">
        	<div class="top-title top-one left">
            	<p>五洲装饰世界</p>
                <p>-&nbsp;&nbsp;精装优选&nbsp;&nbsp;-</p>
            </div>
            <a href="#"><div class="top-img right"><img src="/public/images/H5_12/top-img.jpg" /></div></a>
        </div>
        
        <div class="detail">
        	<div class="item">
            	<a href="#"><div class="item-img"><img src="/public/images/H5_12/itemimg.jpg" /></div></a>
                <div class="item-font">
                	<div class="font-top">
                    	<p><a href="#">柚乐居家具</a></p>
                        <p>番禺吉盛伟邦一楼A1032</p>
                    </div>
                    <a href="#"><div class="butie"><span>补贴800元</span></div></a>
                    
                </div>
            </div>
            <div class="item">
            	<a href="#"><div class="item-img"><img src="/public/images/H5_12/itemimg.jpg" /></div></a>
                <div class="item-font">
                	<div class="font-top">
                    	<p><a href="#">柚乐居家具</a></p>
                        <p>番禺吉盛伟邦一楼A1032</p>
                    </div>
                    <a href="#"><div class="butie"><span>补贴800元</span></div></a>
                    
                </div>
            </div>
            <div class="item">
            	<a href="#"><div class="item-img"><img src="/public/images/H5_12/itemimg.jpg" /></div></a>
                <div class="item-font">
                	<div class="font-top">
                    	<p><a href="#">柚乐居家具</a></p>
                        <p>番禺吉盛伟邦一楼A1032</p>
                    </div>
                    <a href="#"><div class="butie"><span>补贴800元</span></div></a>
                    
                </div>
            </div>
        </div>
        
    </section>
    <section class="bg2">
    	<div class="top">
        	<a href="#"><div class="top-img left"><img src="/public/images/H5_12/top-img.jpg" /></div></a>
        	<div class="top-title top-two right">
            	<p>五洲装饰世界</p>
                <p>-&nbsp;&nbsp;精装优选&nbsp;&nbsp;-</p>
            </div>
        </div>
        <div class="detail">
        	<div class="item">
            	<a href="#"><div class="item-img"><img src="/public/images/H5_12/itemimg.jpg" /></div></a>
                <div class="item-font">
                	<div class="font-top">
                    	<p><a href="#">柚乐居家具</a></p>
                        <p>番禺吉盛伟邦一楼A1032</p>
                    </div>
                    <a href="#"><div class="butie"><span>补贴800元</span></div></a>
                    
                </div>
            </div>
            <div class="item">
            	<a href="#"><div class="item-img"><img src="/public/images/H5_12/itemimg.jpg" /></div></a>
                <div class="item-font">
                	<div class="font-top">
                    	<p><a href="#">柚乐居家具</a></p>
                        <p>番禺吉盛伟邦一楼A1032</p>
                    </div>
                    <a href="#"><div class="butie"><span>补贴800元</span></div></a>
                    
                </div>
            </div>
            <div class="item">
            	<a href="#"><div class="item-img"><img src="/public/images/H5_12/itemimg.jpg" /></div></a>
                <div class="item-font">
                	<div class="font-top">
                    	<p><a href="#">柚乐居家具</a></p>
                        <p>番禺吉盛伟邦一楼A1032</p>
                    </div>
                    <a href="#"><div class="butie"><span>补贴800元</span></div></a>
                    
                </div>
            </div>
        </div>
    </section>
    <section class="bg3">
    	<div class="top">
        	<div class="top-title top-three left">
            	<p>五洲装饰世界</p>
                <p>-&nbsp;&nbsp;精装优选&nbsp;&nbsp;-</p>
            </div>
            <a href="#"><div class="top-img right"><img src="/public/images/H5_12/top-img.jpg" /></div></a>
        </div>
        <div class="detail">
        	<div class="item">
            	<a href="#"><div class="item-img"><img src="/public/images/H5_12/itemimg.jpg" /></div></a>
                <div class="item-font">
                	<div class="font-top">
                    	<p><a href="#">柚乐居家具</a></p>
                        <p>番禺吉盛伟邦一楼A1032</p>
                    </div>
                    <a href="#"><div class="butie"><span>补贴800元</span></div></a>
                    
                </div>
            </div>
            <div class="item">
            	<a href="#"><div class="item-img"><img src="/public/images/H5_12/itemimg.jpg" /></div></a>
                <div class="item-font">
                	<div class="font-top">
                    	<p><a href="#">柚乐居家具</a></p>
                        <p>番禺吉盛伟邦一楼A1032</p>
                    </div>
                    <a href="#"><div class="butie"><span>补贴800元</span></div></a>
                    
                </div>
            </div>
            <div class="item">
            	<a href="#"><div class="item-img"><img src="/public/images/H5_12/itemimg.jpg" /></div></a>
                <div class="item-font">
                	<div class="font-top">
                    	<p><a href="#">柚乐居家具</a></p>
                        <p>番禺吉盛伟邦一楼A1032</p>
                    </div>
                    <a href="#"><div class="butie"><span>补贴800元</span></div></a>
                    
                </div>
            </div>
        </div>
    </section>
    <link rel="stylesheet" type="text/css" href="http://topic.mc.cc/static/shadow.css?v=1111">
	<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="http://topic.mc.cc/static/fs_shadow.js"></script>
    <script>
        $(function () {
            fs_shadow.initDom("http://tool.mc.cc/mcf2");
            $.post("http://topic.mc.cc/wx.php", {method: "getwxconfig", url: window.location.href}, function (data) {
                wx.config({
                    debug: false,
                    appId: data.appId,
                    timestamp: data.timestamp,
                    nonceStr: data.nonceStr,
                    signature: data.signature,
                    jsApiList: [
                        'onMenuShareTimeline',
                        'onMenuShareAppMessage'
                    ]
                });
                wx.ready(function () {
                    var shareData64 = {
                        title: '这里写标题',
                        desc: '这里写描述',
                        link: window.location.href,
                        imgUrl: "http://topic.mc.cc/h5/images/xxxx 这里放转发头图url"
                    };
                    wx.onMenuShareAppMessage(shareData64);
                    wx.onMenuShareTimeline(shareData64);
    
                });
    
                wx.error(function (res) {
                    alert(res.errMsg + " wx");
                });
    
            }, "json")
        })
    
    </script>
</body>
</html>
