<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>H5_02</title>
		<link rel="stylesheet" type="text/css" href="/public/css/reset_pj.css"/>
		<link rel="stylesheet" type="text/css" href="/public/css/H5_02.css"/>
		<script type="text/javascript">
			var rem=20;
			function resizeRem(){
				rem=20/320*document.documentElement.clientWidth;
				document.documentElement.style.fontSize=rem+"px";
			}
			document.addEventListener("DOMContentLoaded",function(){
				resizeRem();
			},false)
			window.onresize=function(){
				resizeRem();
			}
		</script>
	</head>
	<body>
		<header class="banner">
			<img src="/public/images/H5_02/H5_02_banner.png" alt="" />
            <div class="logo-top">
            	<img src="/public/images/H5_02/logo.png" />
            </div>
            <div class="describe">
                <div class="describe-title">广州<span>吉盛伟邦</span>琶洲店</div>
                <p>吉盛伟邦广州(琶洲)家居采购中心首期家具馆经营面积达120，000平方米，目前已有200家国内外品牌已入驻经营，汇聚100多个建材知名品牌同场经营。</p>
            </div>
            <a href="#" class="Hknow2"><img src="/public/images/H5_02/anniu001.png" /></a>
		</header>
		<section>
			<div class="main">
				<div class="items">
					<div class="items_h">
						<div class="pic_box">
							<img src="/public/images/H5_02/H5_02_img2.png"/>
							<div class="back_img">
								<img src="/public/images/H5_02/bg1.png"/>
							</div>
						</div>
						<div class="catena">
							<h2>浴室</h2>
							<p><span class="font_40">卫</span><span class="font_32">浴</span><span class="font_35 top">系</span><span class="font_35">列</span></p>
							<p class="title">Sanitary ware series</p>
							<!--<div class="icon">
								<img src="images/H5_02/H5_02_icon1.png" alt="" />
							</div>-->
						</div>
					</div>
					<div class="items_c">
						<ul>
							<li>
								<a href="#">
									<!--<div class="logo">
										<img src="images/H5_02/toto.png" alt="" />
									</div>-->
									<div class="brand">
										<h3>TOTO卫浴</h3>
									</div>
									<div class="details">
										<p class="name">吉盛伟邦落地灯</p>
										<p class="xinghao">型号：11173</p>
										<p class="jiage">补贴<span>￥<em>6000</em>元</span></p>
									</div>
									<div class="shop_pic">
										<img src="/public/images/H5_02/H5_02_img.png" alt="" />
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									
									<div class="brand">
										<h3>TOTO卫浴</h3>
									</div>
									<div class="details">
										<p class="name">吉盛伟邦落地灯</p>
										<p class="xinghao">型号：11173</p>
										<p class="jiage">补贴<span>￥<em>600</em>元</span></p>
									</div>
									<div class="shop_pic">
										<img src="/public/images/H5_02/H5_02_img.png" alt="" />
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!--2-->
				<div class="items">
					<div class="items_h">
						<div class="pic_box">
							<img src="/public/images/H5_02/H5_02_img2.png"/>
							<div class="back_img">
								<img src="/public/images/H5_02/bg2.png"/>
							</div>
						</div>
						<div class="catena">
							<h2>客厅</h2>
							<p><span class="font_40">家</span><span class="font_32">具体</span><span class="font_35 top">系</span><span class="font_35">列</span></p>
							<p class="title">Sanitary ware series</p>
							<!--<div class="icon">
								<img src="images/H5_02/H5_02_icon2.png" alt="" />
							</div>-->
						</div>
					</div>
					<div class="items_c">
						<ul>
							<li>
								<a href="#">
									
									<div class="brand">
										<h3>TOTO卫浴</h3>
									</div>
									<div class="details">
										<p class="name">吉盛伟邦落地灯</p>
										<p class="xinghao">型号：11173</p>
										<p class="jiage">补贴<span>￥<em>600</em>元</span></p>
									</div>
									<div class="shop_pic">
										<img src="/public/images/H5_02/H5_02_img.png" alt="" />
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									
									<div class="brand">
										<h3>TOTO卫浴</h3>
									</div>
									<div class="details">
										<p class="name">吉盛伟邦落地灯</p>
										<p class="xinghao">型号：11173</p>
										<p class="jiage">补贴<span>￥<em>600</em>元</span></p>
									</div>
									<div class="shop_pic">
										<img src="/public/images/H5_02/H5_02_img.png" alt="" />
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!--3-->
				<div class="items">
					<div class="items_h">
						<div class="pic_box">
							<img src="/public/images/H5_02/H5_02_img2.png"/>
							<div class="back_img">
								<img src="/public/images/H5_02/bg3.png"/>
							</div>
						</div>
						<div class="catena">
							<h2>卧室</h2>
							<p><span class="font_40">用</span><span class="font_32">品</span><span class="font_35 top">系</span><span class="font_35">列</span></p>
							<p class="title">Sanitary ware series</p>
							<!--<div class="icon">
								<img src="images/H5_02/H5_02_icon3.png" alt="" />
							</div>-->
						</div>
					</div>
					<div class="items_c">
						<ul>
							<li>
								<a href="#">
									
									<div class="brand">
										<h3>TOTO卫浴</h3>
									</div>
									<div class="details">
										<p class="name">吉盛伟邦落地灯</p>
										<p class="xinghao">型号：11173</p>
										<p class="jiage">补贴<span>￥<em>600</em>元</span></p>
									</div>
									<div class="shop_pic">
										<img src="/public/images/H5_02/H5_02_img.png" alt="" />
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									
									<div class="brand">
										<h3>TOTO卫浴</h3>
									</div>
									<div class="details">
										<p class="name">吉盛伟邦落地灯</p>
										<p class="xinghao">型号：11173</p>
										<p class="jiage">补贴<span>￥<em>600</em>元</span></p>
									</div>
									<div class="shop_pic">
										<img src="/public/images/H5_02/H5_02_img.png" alt="" />
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!--4-->
				<div class="items">
					<div class="items_h">
						<div class="pic_box">
							<img src="/public/images/H5_02/H5_02_img2.png"/>
							<div class="back_img">
								<img src="/public/images/H5_02/bg4.png"/>
							</div>
						</div>
						<div class="catena">
							<h2>厨房</h2>
							<p><span class="font_40">厨</span><span class="font_32">具</span><span class="font_35 top">系</span><span class="font_35">列</span></p>
							<p class="title">Sanitary ware series</p>
							<!--<div class="icon">
								<img src="images/H5_02/H5_02_icon4.png" alt="" />
							</div>-->
						</div>
					</div>
					<div class="items_c">
						<ul>
							<li>
								<a href="#">
									
									<div class="brand">
										<h3>TOTO卫浴</h3>
									</div>
									<div class="details">
										<p class="name">吉盛伟邦落地灯</p>
										<p class="xinghao">型号：11173</p>
										<p class="jiage">补贴<span>￥<em>600</em>元</span></p>
									</div>
									<div class="shop_pic">
										<img src="/public/images/H5_02/H5_02_img.png" alt="" />
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									
									<div class="brand">
										<h3>TOTO卫浴</h3>
									</div>
									<div class="details">
										<p class="name">吉盛伟邦落地灯</p>
										<p class="xinghao">型号：11173</p>
										<p class="jiage">补贴<span>￥<em>600</em>元</span></p>
									</div>
									<div class="shop_pic">
										<img src="/public/images/H5_02/H5_02_img.png" alt="" />
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<link rel="stylesheet" type="text/css" href="http://topic.mc.cc/static/shadow.css?v=1111">
		<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
		<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<script src="http://topic.mc.cc/static/fs_shadow.js"></script>
		<script>
		    $(function () {
		        fs_shadow.initDom("http://tool.mc.cc/mcf2");
		        $.post("http://topic.mc.cc/wx.php", {method: "getwxconfig", url: window.location.href}, function (data) {
		            wx.config({
		                debug: false,
		                appId: data.appId,
		                timestamp: data.timestamp,
		                nonceStr: data.nonceStr,
		                signature: data.signature,
		                jsApiList: [
		                    'onMenuShareTimeline',
		                    'onMenuShareAppMessage'
		                ]
		            });
		            wx.ready(function () {
		                var shareData64 = {
		                    title: '这里写标题',
		                    desc: '这里写描述',
		                    link: window.location.href,
		                    imgUrl: "http://topic.mc.cc/h5/images/xxxx 这里放转发头图url"
		                };
		                wx.onMenuShareAppMessage(shareData64);
		                wx.onMenuShareTimeline(shareData64);
		
		            });
		
		            wx.error(function (res) {
		                alert(res.errMsg + " wx");
		            });
		
		        }, "json")
		    })
		
		</script>
	</body>
</html>
