<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>H5_03</title>
		<link rel="stylesheet" type="text/css" href="/public/css/reset_pj.css"/>
		<link rel="stylesheet" type="text/css" href="/public/css/wuzhou_mobile.css"/>
		<script type="text/javascript">
			var rem=20;
			function resizeRem(){
				rem=20/320*document.documentElement.clientWidth;
				document.documentElement.style.fontSize=rem+"px";
			}
			document.addEventListener("DOMContentLoaded",function(){
				resizeRem();
			},false)
			window.onresize=function(){
				resizeRem();
		}
	</script>
	</head>
	<body>
		<header>
			<div class="banner">
            	<img src="/public/images/H5_03/logo.png" class="logo" />
                <a href="#" class="Hknow3"><img src="/public/images/H5_03/wuzhou anniu-banner.png" /></a>
            </div>
		</header>
		<section class="main">
			<div class="nav_head">
				<div class="head-img">
                	<div class="head-li">
                    	<div class="li-font"><p style="margin-top:0.225rem;">卧室系列</p><p style="margin-top:-0.2rem;">Bedroom series</p></div>
                        <div class="li-img"><img src="/public/images/PC_03/b2.jpg" /></div>
                    </div>
                    <div class="kuang">
                    	<p>相遇<label>五洲国际</label></p>
                    </div>
                </div>
			</div>
			<div class="container">
				<div class="cont_h">
					<p>Secret language</p>
					<p>漫溢着宁静的花儿,不张扬,不叛逆,还原心灵深处的宁静与私密</p>
				</div>
				<div class="cont_c">
					<div class="imgbox">
						<a href=""><img src="/public/images/H5_03/b2.jpg"/></a>
					</div>
				</div>
				<div class="cont_f">
						<div class="imgbox2">
							<a href="#">
								<img src="/public/images/H5_03/b3.jpg" width="225" height="185" />
								<div class="info">
									<p>名称:XXX台灯</p>
									<p>型号：173117</p>
									<span><i>10000</i></span>
								</div>
							</a>
							<a href="#">
								<img src="/public/images/H5_03/b3.jpg" width="225" height="185" />
								<div class="info">
									<p>名称:XXX台灯</p>
									<p>型号:173117</p>
									<span><i>10000</i></span>
								</div>
							</a>
						</div>
					</div>
			</div>
		</section>
		<section class="main">
			<div class="nav_head">
				<div class="head-img">
                	<div class="head-li">
                    	<div class="li-font"><p style="margin-top:0.225rem;">卧室系列</p><p style="margin-top:-0.2rem;">Bedroom series</p></div>
                        <div class="li-img"><img src="/public/images/PC_03/li.jpg" /></div>
                    </div>
                    <div class="kuang">
                    	<p>相遇<label>五洲国际</label></p>
                    </div>
                </div>
			</div>
			<div class="container">
				<div class="cont_h">
					<p>Secret language</p>
					<p>漫溢着宁静的花儿,不张扬,不叛逆,还原心灵深处的宁静与私密</p>
				</div>
				<div class="cont_c">
					<div class="imgbox">
						<a href=""><img src="/public/images/H5_03/b2.jpg"/></a>
					</div>
				</div>
				<div class="cont_f">
						<div class="imgbox2">
							<a href="#">
								<img src="/public/images/H5_03/b3.jpg" width="225" height="185" />
								<div class="info">
									<p>名称:XXX台灯</p>
									<p>型号：173117</p>
									<span><i>10000</i></span>
								</div>
							</a>
							<a href="#">
								<img src="/public/images/H5_03/b3.jpg" width="225" height="185" />
								<div class="info">
									<p>名称:XXX台灯</p>
									<p>型号:173117</p>
									<span><i>10000</i></span>
								</div>
							</a>
						</div>
					</div>
			</div>
		</section>
		<section class="main">
			<div class="nav_head">
				<div class="head-img">
                	<div class="head-li">
                    	<div class="li-font"><p style="margin-top:0.225rem;">卧室系列</p><p style="margin-top:-0.2rem;">Bedroom series</p></div>
                        <div class="li-img"><img src="/public/images/PC_03/li.jpg" /></div>
                    </div>
                    <div class="kuang">
                    	<p>相遇<label>五洲国际</label></p>
                    </div>
                </div>
			</div>
			<div class="container">
				<div class="cont_h">
					<p>Secret language</p>
					<p>漫溢着宁静的花儿,不张扬,不叛逆,还原心灵深处的宁静与私密</p>
				</div>
				<div class="cont_c">
					<div class="imgbox">
						<a href=""><img src="/public/images/H5_03/b2.jpg"/></a>
					</div>
				</div>
				<div class="cont_f">
						<div class="imgbox2">
							<a href="#">
								<img src="/public/images/H5_03/b3.jpg" width="225" height="185" />
								<div class="info">
									<p>名称:XXX台灯</p>
									<p>型号：173117</p>
									<span><i>10000</i></span>
								</div>
							</a>
							<a href="#">
								<img src="/public/images/H5_03/b3.jpg" width="225" height="185" />
								<div class="info">
									<p>名称:XXX台灯</p>
									<p>型号:173117</p>
									<span><i>10000</i></span>
								</div>
							</a>
						</div>
					</div>
			</div>
		</section>
        <link rel="stylesheet" type="text/css" href="http://topic.mc.cc/static/shadow.css?v=1111">
		<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script src="http://topic.mc.cc/static/fs_shadow.js"></script>
        <script>
            $(function () {
                fs_shadow.initDom("http://tool.mc.cc/mcf2");
                $.post("http://topic.mc.cc/wx.php", {method: "getwxconfig", url: window.location.href}, function (data) {
                    wx.config({
                        debug: false,
                        appId: data.appId,
                        timestamp: data.timestamp,
                        nonceStr: data.nonceStr,
                        signature: data.signature,
                        jsApiList: [
                            'onMenuShareTimeline',
                            'onMenuShareAppMessage'
                        ]
                    });
                    wx.ready(function () {
                        var shareData64 = {
                            title: '这里写标题',
                            desc: '这里写描述',
                            link: window.location.href,
                            imgUrl: "http://topic.mc.cc/h5/images/xxxx 这里放转发头图url"
                        };
                        wx.onMenuShareAppMessage(shareData64);
                        wx.onMenuShareTimeline(shareData64);
        
                    });
        
                    wx.error(function (res) {
                        alert(res.errMsg + " wx");
                    });
        
                }, "json")
            })
        
        </script>
	</body>
	
</html>
