<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>H5_04</title>
<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">

<link rel="stylesheet" type="text/css" href="/public/css/reset.css">
<link rel="stylesheet" type="text/css" href="/public/css/H5_04.css">

<script src="/public/js/jquery-1.11.3.min.js"></script>
<script src="/public/js/public.js"></script>
<style>

</style>
</head>

<body>
	<header>
    	<div class="logo"><img src="/public/images/H5_04/logo.png" /></div>
        <p>国内最大家居店商平台</p>
        <div class="title"><img src="/public/images/H5_04/title.png" /></div>
        <a href="#" class="Hknow4"><img src="images/H5_04/header anniu.png" /></a>
    </header>
    <section>
    	<div class="picture"><img src="/public/images/H5_04/picture.png" /></div>
    </section>
    <section>
    	<div class="content-title">
        	<div class="line-left"></div>
            <div class="line-right"></div>
            <div class="around">
            	<p class="c-name">卫浴<label>专区</label></p>
                <p class="e-name">The bathroom zone</p>
                <!--<em class="one"></em>-->
            </div>
        </div>
        <div class="content-detail">
        	<a href="#"><div class="content-img">
            	<img src="images/H5_04/img.png" />
                <p class="img-font">海蓝地涂料</p>
                <p class="img-font2">马会家居店</p>
                <div class="img1-img"><img src="/public/images/H5_04/detail-img.jpg" /></div>
            </div></a>
            <div class="detail-one">
            	<div class="temp">
                	<a href="#"><div class="item-left">
                    	<div class="item-img"><img src="/public/images/H5_04/detail-img.jpg" /></div>
                        <div class="item-detail">
                        	<ul>
                            	<li>
                                	<span>名称：</span>
                                    <span>XXX洗手盆</span>
                                </li>
                                <li>
                                	<span>型号：</span>
                                    <span>11173</span>
                                </li>
                            </ul>
                            <div class="money"><label>补</label><span>900元</span></div>
                        </div>
                        <img src="/public/images/H5_04/shadow.png" class="shadow" />
                    </div></a>
                    <a href="#"><div class="item-right">
                    	<div class="item-img"><img src="/public/images/H5_04/detail-img.jpg" /></div>
                        <div class="item-detail">
                        	<ul>
                            	<li>
                                	<span>名称：</span>
                                    <span>XXX洗手盆</span>
                                </li>
                                <li>
                                	<span>型号：</span>
                                    <span>11173</span>
                                </li>
                            </ul>
                            <div class="money"><label>补</label><span>900元</span></div>
                        </div>
                        <img src="/public/images/H5_04/shadow.png" class="shadow" />
                    </div></a>
                </div>
            </div>
        </div>
        
    </section>
    <section>
    	<div class="content-title">
        	<div class="line-left"></div>
            <div class="line-right"></div>
            <div class="around">
            	<p class="c-name">沙发<label>专区</label></p>
                <p class="e-name">Sofa zone</p>
                
            </div>
        </div>
        <div class="content-detail">
        	<a href="#"><div class="content-img">
            	<img src="images/H5_04/img2.png" />
                <p class="img2-font">海蓝地涂料</p>
                <p class="img2-font2">马会家居店</p>
                <div class="img2-img"><img src="/public/images/H5_04/img3.png" /></div>
            </div></a>
            <div class="detail-two">
            	<div class="temp">
                	<a href="#"></strong><div class="item-left">
                    	<div class="item-img"><img src="/public/images/H5_04/detail-img.jpg" /></div>
                        <div class="item-detail">
                        	<ul>
                            	<li>
                                	<span>名称：</span>
                                    <span>XXX洗手盆</span>
                                </li>
                                <li>
                                	<span>型号：</span>
                                    <span>11173</span>
                                </li>
                            </ul>
                            <div class="money"><label>补</label><span>900元</span></div>
                        </div>
                        <img src="/public/images/H5_04/shadow.png" class="shadow" />
                    </div></a>
                    <a href="#"><div class="item-right">
                    	<div class="item-img"><img src="/public/images/H5_04/detail-img.jpg" /></div>
                        <div class="item-detail">
                        	<ul>
                            	<li>
                                	<span>名称：</span>
                                    <span>XXX洗手盆</span>
                                </li>
                                <li>
                                	<span>型号：</span>
                                    <span>11173</span>
                                </li>
                            </ul>
                            <div class="money"><label>补</label><span>900元</span></div>
                        </div>
                        <img src="/public/images/H5_04/shadow.png" class="shadow" />
                    </div></a>
                </div>
            </div>
        </div>
        
    </section>
    <section>
    	<div class="content-title">
        	<div class="line-left"></div>
            <div class="line-right"></div>
            <div class="around">
            	<p class="c-name">橱窗<label>专区</label></p>
                <p class="e-name">Ambry zone</p>
                
            </div>
        </div>
        <div class="content-detail">
        	<a href="#"><div class="content-img">
            	<img src="images/H5_04/img.png" />
                <p class="img-font">海蓝地涂料</p>
                <p class="img-font2">马会家居店</p>
                <div class="img1-img"><img src="/public/images/H5_04/img3.png" /></div>
            </div></a>
            <div class="detail-one">
            	<div class="temp">
                	<a href="#"><div class="item-left">
                    	<div class="item-img"><img src="/public/images/H5_04/detail-img.jpg" /></div>
                        <div class="item-detail">
                        	<ul>
                            	<li>
                                	<span>名称：</span>
                                    <span>XXX洗手盆</span>
                                </li>
                                <li>
                                	<span>型号：</span>
                                    <span>11173</span>
                                </li>
                            </ul>
                            <div class="money"><label>补</label><span>900元</span></div>
                        </div>
                        <img src="/public/images/H5_04/shadow.png" class="shadow" />
                    </div></a>
                    <a href="#"><div class="item-right">
                    	<div class="item-img"><img src="/public/images/H5_04/detail-img.jpg" /></div>
                        <div class="item-detail">
                        	<ul>
                            	<li>
                                	<span>名称：</span>
                                    <span>XXX洗手盆</span>
                                </li>
                                <li>
                                	<span>型号：</span>
                                    <span>11173</span>
                                </li>
                            </ul>
                            <div class="money"><label>补</label><span>900元</span></div>
                        </div>
                        <img src="/public/images/H5_04/shadow.png" class="shadow" />
                    </div></a>
                </div>
            </div>
        </div>
        
    </section>
    <section>
    	<div class="content-title">
        	<div class="line-left"></div>
            <div class="line-right"></div>
            <div class="around">
            	<p class="c-name">地毯<label>专区</label></p>
                <p class="e-name">Carpet zone</p>
                
            </div>
        </div>
        <div class="content-detail">
        	<a href="#"><div class="content-img">
            	<img src="images/H5_04/img2.png" />
                <p class="img2-font">海蓝地涂料</p>
                <p class="img2-font2">马会家居店</p>
                <div class="img2-img"><img src="/public/images/H5_04/img3.png" /></div>
            </div></a>
            <div class="detail-two">
            	<div class="temp">
                	<a href="#"><div class="item-left">
                    	<div class="item-img"><img src="/public/images/H5_04/detail-img.jpg" /></div>
                        <div class="item-detail">
                        	<ul>
                            	<li>
                                	<span>名称：</span>
                                    <span>XXX洗手盆</span>
                                </li>
                                <li>
                                	<span>型号：</span>
                                    <span>11173</span>
                                </li>
                            </ul>
                            <div class="money"><label>补</label><span>900元</span></div>
                        </div>
                        <img src="/public/images/H5_04/shadow.png" class="shadow" />
                    </div></a>
                    <a href="#"><div class="item-right">
                    	<div class="item-img"><img src="/public/images/H5_04/detail-img.jpg" /></div>
                        <div class="item-detail">
                        	<ul>
                            	<li>
                                	<span>名称：</span>
                                    <span>XXX洗手盆</span>
                                </li>
                                <li>
                                	<span>型号：</span>
                                    <span>11173</span>
                                </li>
                            </ul>
                            <div class="money"><label>补</label><span>900元</span></div>
                        </div>
                        <img src="/public/images/H5_04/shadow.png" class="shadow" />
                    </div></a>
                </div>
            </div>
        </div>
        
    </section>
    <link rel="stylesheet" type="text/css" href="http://topic.mc.cc/static/shadow.css?v=1111">
	<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="http://topic.mc.cc/static/fs_shadow.js"></script>
    <script>
        $(function () {
            fs_shadow.initDom("http://tool.mc.cc/mcf2");
            $.post("http://topic.mc.cc/wx.php", {method: "getwxconfig", url: window.location.href}, function (data) {
                wx.config({
                    debug: false,
                    appId: data.appId,
                    timestamp: data.timestamp,
                    nonceStr: data.nonceStr,
                    signature: data.signature,
                    jsApiList: [
                        'onMenuShareTimeline',
                        'onMenuShareAppMessage'
                    ]
                });
                wx.ready(function () {
                    var shareData64 = {
                        title: '这里写标题',
                        desc: '这里写描述',
                        link: window.location.href,
                        imgUrl: "http://topic.mc.cc/h5/images/xxxx 这里放转发头图url"
                    };
                    wx.onMenuShareAppMessage(shareData64);
                    wx.onMenuShareTimeline(shareData64);
    
                });
    
                wx.error(function (res) {
                    alert(res.errMsg + " wx");
                });
    
            }, "json")
        })
    
    </script>
</body>
</html>
