<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>PC_08</title>
<link rel="stylesheet" type="text/css" href="/public/css/reset.css">
<link rel="stylesheet" type="text/css" href="/public/css/PC_08.css">
<link rel="stylesheet" type="text/css" href="/public/css/pop.css">
<link rel="stylesheet" type="text/css" href="/public/css/font.css">

<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/pop.js"></script>

</head>

<body>

	<div class="header">
    	<div class="nav">
        	<div class="left">
            	<div class="logo"><img src="/public/images/PC_06/logo.jpg" /></div>
                <div class="map">
                	<ul>
                    	<li>
                        	<img src="/public/images/PC_06/map.jpg" />
                            <span>广州</span>
                        </li>
                        <li>
                            <a>切换</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="center">
            	<ul>
                	<li><a>首页</a></li>
                    <li><a>寻找案例</a></li>
                    <li><a>寻找优惠</a></li>
                    <li><a>地图寻店</a></li>
                    <li><a>个人中心</a></li>
                </ul>
            </div>
            <div class="right"><a>登录</a></div>
        </div>
    </div>
    <div class="content">
    	<div class="content-title">
        	<img src="/public/images/PC_08/content-title.png" />
            <img src="/public/images/PC_08/logo-副本-拷贝-2@2x.png" class="logo-title" />
            <a href="#" class="know" id="know"><img src="/public/images/PC_08/anniu003.png" /></a>
        </div>
    </div>
    <div class="content-detail">
    	<div class="detail-top">
        	<div class="detail-top-item poz-one">
            	<div class="top-item-img">
                    <img src="/public/images/PC_08/tu@2x.jpg" />
                </div>
                
                <p class="top-item-big">天然</p>
                <p class="top-item-small">材质安全 自然环保</p>
            </div>
            <div class="detail-top-item poz-two">
            	<div class="top-item-img">
                    <img src="/public/images/PC_08/tu@2x.jpg" />
                </div>
                <p class="top-item-big">质朴</p>
                <p class="top-item-small">材质安全 自然环保</p>
            </div>
            <div class="detail-top-item poz-three">
            	<div class="top-item-img">
                    <img src="/public/images/PC_08/tu@2x.jpg" />
                </div>
                <p class="top-item-big">浪漫</p>
                <p class="top-item-small">材质安全 自然环保</p>
            </div>
        </div>
        <div class="door">
        	<div class="door-item door-one">
                <a href="#"><div class="door-img">
                    <img src="/public/images/PC_08/door-img.jpg" />
                    <div class="door-summary">
                    	<p class="d1">圆盘豆(绿柄桑)</p>
                        <p class="d2">复合地板具有无污染、花纹自然、典雅应重、富质感性、弹性真实等优点。</p>
                    </div>
                </div></a>
            </div>
            <div class="door-item door-two">
                <a href="#"><div class="door-img">
                    <img src="/public/images/PC_08/door-img.jpg" />
                    <div class="door-summary">
                    	<p class="d1">圆盘豆(绿柄桑)</p>
                        <p class="d2">复合地板具有无污染、花纹自然、典雅应重、富质感性、弹性真实等优点。</p>
                    </div>
                </div></a>
            </div>
            <div class="door-item door-three">
                <a href="#"><div class="door-img">
                    <img src="/public/images/PC_08/door-img.jpg" />
                    <div class="door-summary">
                    	<p class="d1">圆盘豆(绿柄桑)</p>
                        <p class="d2">复合地板具有无污染、花纹自然、典雅应重、富质感性、弹性真实等优点。</p>
                    </div>
                </div><a href="#">
            </div>
        </div>
        <div class="classify">
        	<ul>
            	<li>
                	<p>实木地板专区</p>
                	<p>天然</p>
                </li>
                <li>
                	<p>复合地板专区</p>
                	<p>质朴</p>
                </li>
                <li>
                	<p>PVC地板专区</p>
                	<p>浪漫</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="detail">
    	<!--one-->
    	<div class="temp-one">
        	<div class="item-one">
            	<div class="item-one-left">
                	<div class="one-title">
                    	<div class="nature"><span>自然</span></div>
                        <div class="nature-summary">上等材质 天然安全</div>
                        <div class="nature-img"><span>实木</span></div>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="nature-detail">
                    	<div class="na-left">
                        	<a href="#"><div class="na-left-top">
                            	<div class="na1"><img src="/public/images/PC_08/na1.jpg" /></div>
                                <div class="na1-summary">
                                	<p class="p-big">大自然地板</p>
                                    <p class="p-xing"><span>型号：</span><label>T96446</label></p>
                                    <p class="p-xing"><span>规格：</span><label>910X126X15</label></p>
                                </div>
                            </div></a>
                            <a href="#"><div class="na-left-bottom">
                            	<div class="na-left-bottom-summary">
                                	<p class="p-big" style="margin-top:40px;">大自然地板</p>
                                    <p class="p-xing"><span>型号：</span><label>T96446</label></p>
                                    <p class="p-xing"><span>规格：</span><label>910X126X15</label></p>
                                </div>
                                <div class="bottom-img"><img src="/public/images/PC_08/na2.jpg" /></div>
                            </div></a>
                            <div style="clear:both;"></div>
                        </div>
                        <a href="#"><div class="na-right">
                        	<div class="na-right-img"><img src="/public/images/PC_08/na3.jpg" /></div>
                            <div class="na-right-summary">
                            	<p class="p-white">大自然地板</p>
                                <p class="p-xwhite"><span>型号：</span><span>T96446</span></p>
                                <p class="p-xwhite"><span>规格：</span><span>910X126X15</span></p>
                            </div>
                        </div></a>
                        <div style="clear:both;"></div>
                    </div>
                </div>
                
                
                <div class="item-one-right">
                	<a href="#"><div class="detail-big"><img src="/public/images/PC_08/detail1.jpg" /></div></a>
                    <div class="detail-small">
                    	<a href="#"><div class="small1"><img src="/public/images/PC_08/detail2.jpg" /></div></a>
                        <a href="#"><div class="small2"><img src="/public/images/PC_08/detail3.jpg" /></div></a>
                    </div>
                </div>
                <div style="clear:both;"></div>
                <p class="pna">大自然春实木地板</p>
                <p class="psa">天然安全无意外</p>
            </div>
        </div>
        
        <!--two-->
        <div class="temp-two">
        	<div class="item-two">
            	<div class="item-two-left">
                	<div class="left-top">
                    	<div class="left-top-img"><img src="/public/images/PC_08/nature.png" /></div>
                        <div class="left-top-font"><p>复合地板专区</p><p>上等材质 天然安全</p></div>
                    </div>
                    <div class="left-bottom">
                    	<div class="left-bottom-font"><p>大自然家居（中国）有限公司是国内知名的地板与家居产品解决方案供应商，是大自然家居控股有限公司（香港主板：02083）的全资附属公司，“大自然”品牌连续   的木地板骨干企业之一。如今，大自然家居在全球构建了多个原材料供应基地及先进的生产研发基地，在广东顺德、中山、东莞，江苏昆山、泰州、徐州，江西、广西、云南等地建立多个大型的地板、木门、橱柜、衣柜制造基地和材料供应基地，并在欧洲、美国、秘鲁等地设立公司负责国外业务的开拓与运营。</p></div>
                    </div>
                </div>
            	<div class="item-two-right">
                	<div class="right-top">
                    	<a href="#"><div class="top-left">
                        	<div class="top-left-img"><img src="/public/images/PC_08/two1.jpg" /></div>
                            <div class="top-left-font">
                            	<p class="p-two-fong" style="margin-top:8px;"><span>型号:</span><label>T96446</label></p>
                                <p class="p-two-fong"><span>规格:</span><label>910X126X15</label></p>
                            </div>
                        </div></a>
                        <div class="top-right">
                        	<a href="#"><div class="right-one">
                            	<img src="/public/images/PC_08/topright1.jpg" />
                                <div class="black">
                                	<p style="margin-top:4px;"><span>型号:</span><label>T96446</label></p>
                                	<p ><span>规格:</span><label>910X126X15</label></p>
                                </div>
                           	</div></a>
                        	<a href="#"><div class="right-two">
                            	<img src="/public/images/PC_08/topright2.jpg" />
                                <div class="black">
                                	<p style="margin-top:4px;"><span>型号:</span><label>T96446</label></p>
                                	<p ><span>规格:</span><label>910X126X15</label></p>
                                </div>
                           	</div></a>
                        </div>
                    </div>
                    <div class="right-bottom-all">
                        <a href="#"><div class="right-bottom">
                            <div class="right-bottom-img"><img src="/public/images/PC_08/right-bottom1.jpg" /></div>
                            <div class="top-left-font">
                                <p class="p-two-fong" style="margin-top:8px;"><span>型号:</span><label>T96446</label></p>
                                <p class="p-two-fong"><span>规格:</span><label>910X126X15</label></p>
                            </div>
                        </div></a>
                        <a href="#"><div class="right-right">
                        	<img src="/public/images/PC_08/right-bottom2.jpg" />
                            <div class="black">
                                <p style="margin-top:4px;"><span>型号:</span><label>T96446</label></p>
                                <p ><span>规格:</span><label>910X126X15</label></p>
                            </div>
                        </div></a>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>
        
        <!--three-->
        <div class="temp-three">
        	<div class="item-three">
            	<div class="three1">
                	<div class="three-left">
                    	<div class="langman"><span>浪漫</span></div>
                        <div class="lang-font">
                        	<p><label>顶级</label>配置  前所未见</p>
                            <p>不同之处一目了然</p>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="three-right">
                    	<div class="three-right-title">
                        	<p>PVC</p>
                            <p>地板专区</p>
                        </div>
                    </div>
                </div>
                
                <div class="three2">
                	<a href="#"><div class="three-img-one">
                    	<p class="p-two-fong" style="margin-top:43px;"><span>型号:</span><label>T96446</label></p>
                        <p class="p-two-fong" style="margin-bottom:43px;"><span>规格:</span><label>910X126X15</label></p>
                        <div class="img-one"><img src="/public/images/PC_08/three1.jpg" /></div>
                    </div></a>
                    
                    <a href="#"><div class="three-img-two">
                    	<div class="img-two"><img src="/public/images/PC_08/three2.jpg" /></div>
                    	<div class="img-two-p">
                        	<p class="p-two-fong" style="margin-top:43px;"><span>型号:</span><label>910X126X15910X126X15910X126X15</label></p>
                        	<p class="p-two-fong" style="margin-bottom:43px;"><span>规格:</span><label>910X126X15</label></p>
                        </div>
                    </div></a>
                    
                    <a href="#"><div class="three-img-three">
                    	<div class="img-three"><img src="/public/images/PC_08/three3.jpg" /></div>
                    	<p class="p-two-fong" style="margin-top:43px;"><span>型号:</span><label>T96446</label></p>
                        <p class="p-two-fong" style="margin-bottom:43px;"><span>规格:</span><label>910X126X15</label></p>
                    </div></a>
                    
                    <a href="#"><div class="three-img-four">
                    	<div class="img-two-p">
                        	<p class="p-two-fong" style="margin-top:43px;"><span>型号:</span><label>型号型910X126X15号</label>
                        	</p>
                       	  <p class="p-two-fong" style="margin-bottom:43px;"><span>规格:</span><label>1</label></p>
                        </div>
                        <div class="img-four"><img src="/public/images/PC_08/three4.jpg" /></div>
                    </div></a>
                    
                    <img src="/public/images/PC_08/na.jpg" class="na" />
                </div>
                
            </div>
        </div>
        
    </div>
    <div class="footer-all">
      <div class="footer">
          <div class="footer-items">
          	<div class="fitem-title">网站导航</div>
            <div class="fitem-li">寻物</div>
            <div class="fitem-li">寻找案例</div>
            <div class="fitem-li">地图寻店</div>
            <div class="fitem-li">个人中心</div>
          </div>
          <div class="footer-items">
          	<div class="fitem-title">产品和服务</div>
            <div class="fitem-li">寻物鼠</div>
            <div class="fitem-li">电商通</div>
            <div class="fitem-li">品销通</div>
            <div class="fitem-li">室尚汇</div>
            <div class="fitem-li">卖场通</div>
          </div>
          <div class="footer-items">
          	<div class="fitem-title">关于我们</div>
            <div class="fitem-li">公司介绍</div>
            <div class="fitem-li">联系方式</div>
            <div class="fitem-li">合作伙伴</div>
            <div class="fitem-li">招商咨询</div>
          </div>
          <div class="footer-erweima">
          	<div class="erweima">
            	<img src="/public/images/PC_08/erweima.jpg" />
                <p>寻物鼠APP</p>
            </div>
            <div style="clear:both;"></div>
            <p class="ff-mar">© 2013 卖场网 All Rights Reserved</p>
            <p>广州卖场网网络科技有限公司 粤ICP备13086943号-2</p>
          </div>
      </div>
    </div>
    <div class="pop-all">
    	<a href="#" class="delete" id="delete"><img src="/public/images/PC_08/delete.png" /></a>
    </div>
    
    <!--弹出层-->
    <div class="pop-enter">
        <div class="pop-img"><img src="/public/images/PC_08/pop.jpg" /></div>
        <div class="pop-detail">
            <div class="p-mar">
                <div class="pop-item">
                    <div class="pop-title"><img src="/public/images/PC_08/start.png" /><span>补贴不是优惠！</span></div>
                    <p>补贴是在付款时可抵消部分应付货款的现金服务。无论如何优惠打折，均可使用！</p>
                </div>
                <div class="pop-item">
                    <div class="pop-title"><img src="/public/images/PC_08/start.png" /><span>多种面额供您选！</span></div>
                    <p>寻物鼠现金订单补贴，面值600元到10000元不等。拿到就是赚到！</p>
                </div>
                <div class="pop-item">
                    <div class="pop-title"><img src="/public/images/PC_08/start.png" /><span>付款用补贴，抵现不设限！</span></div>
                    <p>无论最终订单成交价是否低于补贴面值，均可无条件使用有担保的现金补贴！</p>
                </div>
                <div class="pop-item">
                    <div class="pop-title"><img src="/public/images/PC_08/start.png" /><span>大牌任您选，认准快出手！</span></div>
                    <p>全市同步五千余家店铺补贴任您选，每月每店1~5张，错过再等一个月！</p>
                </div>
                <div class="pop-item">
                    <div class="pop-title"><img src="/public/images/PC_08/start.png" /><span>先行赔付，补贴无忧！</span></div>
                    <p>实名认证、书面承诺等多种保障。卖场网更可为现金担保的补贴进行先行赔付！</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
