<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>PC_07</title>
<link rel="stylesheet" type="text/css" href="/public/css/reset.css">
<link rel="stylesheet" type="text/css" href="/public/css/pop.css">
<link rel="stylesheet" type="text/css" href="/public/css/PC_07.css">

<script src="/public/js/jquery-1.11.3.min.js"></script>

</head>

<body>
	<div class="top-container">
        <div class="top">
            <div class="logo"><img src="/public/images/pc9/logo.jpg" /></div>
            <div class="location">
                <img src="/public/images/pc9/lab1.png" /><span>广州</span><a href="#">切换</a>
            </div>
            <ul class="nav">
                <li><a href="#">寻物</a></li>
                <li><a href="#">寻找案例</a></li>
                <li><a href="#">寻找优惠</a></li>
                <li><a href="#">地图寻店</a></li>
                <li><a href="#">个人中心</a></li>
                <li class="login"><a href="#">登陆</a></li>
            </ul>
        </div>
    </div>
    <div class="banner">
    	<div class="banner-center">
        	<a href="#" class="butie"><img src="/public/images/PC_07/butie.png" /></a>
            <img src="/public/images/PC_07/07logo@2x.png" class="logo2" />
        </div>
    </div>
    <div class="content-all">
    	<div class="content">
        	<div class="item">
            	<div class="title">
                	<div class="title-top-img"><img src="/public/images/PC_07/name-top-img.png" /></div>
                    <a href="#"><p class="name">店铺名称</p></a>
                    <div class="title-bottom-img"><img src="/public/images/PC_07/name-bottom-img.png" /></div>
                </div>
                <div class="temp">
                	<div class="big-img float-left"><a href="#"><img src="/public/images/PC_07/big.jpg" /></a></div>
                    <div class="small-img float-left margin-left">
                    	<div class="small-detail"><a href="#"><img src="/public/images/PC_07/small.jpg" /></a></div>
                        <div class="small-detail margin-top"><a href="#"><img src="/public/images/PC_07/small.jpg" /></a></div>
                    </div>
                    <div class="detail float-right">
                    	<div class="detail-temp-one">
                        	<div class="detail-title margin-left2"><span>洗脸盆柜组合</span></div>
                            <p class="address">地址：吉盛伟邦琶洲店2F-208铺</p>
                            <a class="bu" style="margin-left:64px;" href="#">￥补贴<label>900</label>元</a>
                        </div>
                        <div class="detail-temp-one">
                        	<div class="detail-title margin-left2"><span>洗脸盆柜组合</span></div>
                            <p class="address">地址：吉盛伟邦琶洲店2F-208铺</p>
                            <a class="bu" style="margin-left:64px;" href="#">￥补贴<label>900</label>元</a>
                        </div>
                    </div>
                </div>
            </div><!--item结束-->
            <div class="item">
            	<div class="title">
                	<div class="title-top-img"><img src="/public/images/PC_07/name-top-img.png" /></div>
                    <a href="#"><p class="name">店铺名称</p></a>
                    <div class="title-bottom-img"><img src="/public/images/PC_07/name-bottom-img.png" /></div>
                </div>
                <div class="temp">
                	<div class="detail float-left">
                    	<div class="detail-temp-two">
                        	<div class="detail-title margin-right"><span>洗脸盆柜组合</span></div>
                            <p class="address" style="text-align:right;">地址：吉盛伟邦琶洲店2F-208铺</p>
                            <a class="bu" style="margin-left:57px;" href="#">￥补贴<label>900</label>元</a>
                        </div>
                        <div class="detail-temp-two">
                        	<div class="detail-title margin-right"><span>洗脸盆柜组合</span></div>
                            <p class="address" style="text-align:right;">地址：吉盛伟邦琶洲店2F-208铺</p>
                            <a class="bu" style="margin-left:57px;" href="#">￥补贴<label>900</label>元</a>
                        </div>
                    </div>
                    <div class="small-img float-left margin-left2">
                    	<div class="small-detail"><a href="#"><img src="/public/images/PC_07/small.jpg" /></a></div>
                        <div class="small-detail margin-top"><a href="#"><img src="/public/images/PC_07/small.jpg" /></a></div>
                    </div>
                    
                    <div class="big-img float-right"><a href="#"><img src="/public/images/PC_07/big.jpg" /></a></div>
                </div>
            </div><!--item结束-->
            <div class="item">
            	<div class="title">
                	<div class="title-top-img"><img src="/public/images/PC_07/name-top-img.png" /></div>
                    <a href="#"><p class="name">店铺名称</p></a>
                    <div class="title-bottom-img"><img src="/public/images/PC_07/name-bottom-img.png" /></div>
                </div>
                <div class="temp">
                	<div class="big-img float-left"><a href="#"><img src="/public/images/PC_07/big.jpg" /></a></div>
                    <div class="small-img float-left margin-left">
                    	<div class="small-detail"><a href="#"><img src="/public/images/PC_07/small.jpg" /></a></div>
                        <div class="small-detail margin-top"><a href="#"><img src="/public/mages/PC_07/small.jpg" /></a></div>
                    </div>
                    <div class="detail float-right">
                    	<div class="detail-temp-one">
                        	<div class="detail-title margin-left2"><span>洗脸盆柜组合</span></div>
                            <p class="address">地址：吉盛伟邦琶洲店2F-208铺</p>
                            <a class="bu" style="margin-left:64px;" href="#">￥补贴<label>900</label>元</a>
                        </div>
                        <div class="detail-temp-one">
                        	<div class="detail-title margin-left2"><span>洗脸盆柜组合</span></div>
                            <p class="address">地址：吉盛伟邦琶洲店2F-208铺</p>
                            <a class="bu" style="margin-left:64px;" href="#">￥补贴<label>900</label>元</a>
                        </div>
                    </div>
                </div>
            </div><!--item结束-->
            <div class="item">
            	<div class="title">
                	<div class="title-top-img"><img src="/public/images/PC_07/name-top-img.png" /></div>
                    <a href="#"><p class="name">店铺名称</p></a>
                    <div class="title-bottom-img"><img src="/public/images/PC_07/name-bottom-img.png" /></div>
                </div>
                <div class="temp">
                	<div class="detail float-left">
                    	<div class="detail-temp-two">
                        	<div class="detail-title margin-right"><span>洗脸盆柜组合</span></div>
                            <p class="address" style="text-align:right;">地址：吉盛伟邦琶洲店2F-208铺</p>
                            <a class="bu" style="margin-left:57px;" href="#">￥补贴<label>900</label>元</a>
                        </div>
                        <div class="detail-temp-two">
                        	<div class="detail-title margin-right"><span>洗脸盆柜组合</span></div>
                            <p class="address" style="text-align:right;">地址：吉盛伟邦琶洲店2F-208铺</p>
                            <a class="bu" style="margin-left:57px;" href="#">￥补贴<label>900</label>元</a>
                        </div>
                    </div>
                    <div class="small-img float-left margin-left2">
                    	<div class="small-detail"><a href="#"><img src="/public/images/PC_07/small.jpg" /></a></div>
                        <div class="small-detail margin-top"><a href="#"><img src="images/PC_07/small.jpg" /></a></div>
                    </div>
                    
                    <div class="big-img float-right"><a href="#"><img src="/public/images/PC_07/big.jpg" /></a></div>
                </div>
            </div><!--item结束-->
            <div class="item">
            	<div class="title">
                	<div class="title-top-img"><img src="/public/images/PC_07/name-top-img.png" /></div>
                    <a href="#"><p class="name">店铺名称</p></a>
                    <div class="title-bottom-img"><img src="/public/images/PC_07/name-bottom-img.png" /></div>
                </div>
                <div class="temp">
                	<div class="big-img float-left"><a href="#"><img src="/public/images/PC_07/big.jpg" /></a></div>
                    <div class="small-img float-left margin-left">
                    	<div class="small-detail"><a href="#"><img src="/public/images/PC_07/small.jpg" /></a></div>
                        <div class="small-detail margin-top"><a href="#"><img src="/public/images/PC_07/small.jpg" /></a></div>
                    </div>
                    <div class="detail float-right">
                    	<div class="detail-temp-one">
                        	<div class="detail-title margin-left2"><span>洗脸盆柜组合</span></div>
                            <p class="address">地址：吉盛伟邦琶洲店2F-208铺</p>
                            <a class="bu" style="margin-left:64px;" href="#">￥补贴<label>900</label>元</a>
                        </div>
                        <div class="detail-temp-one">
                        	<div class="detail-title margin-left2"><span>洗脸盆柜组合</span></div>
                            <p class="address">地址：吉盛伟邦琶洲店2F-208铺</p>
                            <a class="bu" style="margin-left:64px;" href="#">￥补贴<label>900</label>元</a>
                        </div>
                    </div>
                </div>
            </div><!--item结束-->
            <div class="item">
            	<div class="title">
                	<div class="title-top-img"><img src="/public/images/PC_07/name-top-img.png" /></div>
                    <a href="#"><p class="name">店铺名称</p></a>
                    <div class="title-bottom-img"><img src="/public/images/PC_07/name-bottom-img.png" /></div>
                </div>
                <div class="temp">
                	<div class="detail float-left">
                    	<div class="detail-temp-two">
                        	<div class="detail-title margin-right"><span>洗脸盆柜组合</span></div>
                            <p class="address" style="text-align:right;">地址：吉盛伟邦琶洲店2F-208铺</p>
                            <a class="bu" style="margin-left:57px;" href="#">￥补贴<label>900</label>元</a>
                        </div>
                        <div class="detail-temp-two">
                        	<div class="detail-title margin-right"><span>洗脸盆柜组合</span></div>
                            <p class="address" style="text-align:right;">地址：吉盛伟邦琶洲店2F-208铺</p>
                            <a class="bu" style="margin-left:57px;" href="#">￥补贴<label>900</label>元</a>
                        </div>
                    </div>
                    <div class="small-img float-left margin-left2">
                    	<div class="small-detail"><a href="#"><img src="/public/images/PC_07/small.jpg" /></a></div>
                        <div class="small-detail margin-top"><a href="#"><img src="images/PC_07/small.jpg" /></a></div>
                    </div>
                    
                    <div class="big-img float-right"><a href="#"><img src="/public/images/PC_07/big.jpg" /></a></div>
                </div>
            </div><!--item结束-->
            <a class="come-back" href="javascript:scroll(0,0)"><img src="/public/images/PC_07/top.png" /></a>
        </div>
    </div>
    <div class="footer-all">
        <div class="footer">
            <div class="footer-items">
              <div class="fitem-title">网站导航</div>
              <div class="fitem-li">寻物</div>
              <div class="fitem-li">寻找案例</div>
              <div class="fitem-li">地图寻店</div>
              <div class="fitem-li">个人中心</div>
            </div>
            <div class="footer-items">
              <div class="fitem-title">产品和服务</div>
              <div class="fitem-li">寻物鼠</div>
              <div class="fitem-li">电商通</div>
              <div class="fitem-li">品销通</div>
              <div class="fitem-li">室尚汇</div>
              <div class="fitem-li">卖场通</div>
            </div>
            <div class="footer-items">
              <div class="fitem-title">关于我们</div>
              <div class="fitem-li">公司介绍</div>
              <div class="fitem-li">联系方式</div>
              <div class="fitem-li">合作伙伴</div>
              <div class="fitem-li">招商咨询</div>
            </div>
            <div class="footer-erweima">
              <div class="erweima">
                  <img src="/public/images/PC_08/erweima.jpg" />
                  <p>寻物鼠APP</p>
              </div>
              <div style="clear:both;"></div>
              <p class="ff-mar">© 2013 卖场网 All Rights Reserved</p>
              <p>广州卖场网网络科技有限公司 粤ICP备13086943号-2</p>
            </div>
        </div>
    </div>
</body>
</html>
