<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>H5_05</title>
		<link rel="stylesheet" type="text/css" href="/public/css/reset_pj.css"/>
		<link rel="stylesheet" type="text/css" href="/public/css/weibang_mobile.css"/>
		<script type="text/javascript">
			var rem=20;
			function resizeRem(){
				rem=20/320*document.documentElement.clientWidth;
				document.documentElement.style.fontSize=rem+"px";
			}
			document.addEventListener("DOMContentLoaded",function(){
				resizeRem();
			},false)
			window.onresize=function(){
				resizeRem();
		}
	</script>
	</head>
	<body>
		<header>
			<div class="header-logo"><img src="/public/images/H5_05/logo.png" /></div>
            <a href="#" class="Hknow5"><img src="/public/images/H5_05/bu.png" /></a>
		</header>
		<section class="main">
			<div class="container">
				<div class="items">
					<div class="items_h">
						<div class="name">
							<img src="/public/images/H5_05/weibang_mobile_sofa1.png" alt="" />
                            <div class="name-font">
                            	<p>中式沙发</p>
                            </div>
						</div>
						
					</div>
					<div class="items_c">
						<ul>
							<li>
								<a href="#">
									<img src="/public/images/H5_05/weibang_mobile_img.png" alt="" />
									<div class="info">
										<p>转角沙发组合（A12563）</p>
										<p class="price">补贴：￥<em>1590</em>/张</p>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="/public/images/H5_05/weibang_mobile_img.png" alt="" />
									<div class="info">
										<p>转角沙发组合（A12563）</p>
										<p class="price">补贴：￥<em>1590</em>/张</p>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="/public/images/H5_05/weibang_mobile_img.png" alt="" />
									<div class="info">
										<p>转角沙发组合（A12563）</p>
										<p class="price">补贴：￥<em>1590</em>/张</p>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="/public/images/H5_05/weibang_mobile_img.png" alt="" />
									<div class="info">
										<p>转角沙发组合（A12563）</p>
										<p class="price">补贴：￥<em>1590</em>/张</p>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!--2-->
				<div class="items">
					<div class="items_h">
						<div class="name">
							<img src="/public/images/H5_05/weibang_mobile_sofa2.png" alt="" />
                            <div class="name-font">
                            	<p style="color:#fffc00;">欧式沙发</p>
                            </div>
						</div>
					</div>
					<div class="items_c">
						<ul>
							<li>
								<a href="#">
									<img src="/public/images/H5_05/weibang_mobile_img.png" alt="" />
									<div class="info">
										<p>转角沙发组合（A12563）</p>
										<p class="price">补贴：￥<em>1590</em>/张</p>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="/public/images/H5_05/weibang_mobile_img.png" alt="" />
									<div class="info">
										<p>转角沙发组合（A12563）</p>
										<p class="price">补贴：￥<em>1590</em>/张</p>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="/public/images/H5_05/weibang_mobile_img.png" alt="" />
									<div class="info">
										<p>转角沙发组合（A12563）</p>
										<p class="price">补贴：￥<em>1590</em>/张</p>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="/public/images/H5_05/weibang_mobile_img.png" alt="" />
									<div class="info">
										<p>转角沙发组合（A12563）</p>
										<p class="price">补贴：￥<em>1590</em>/张</p>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!--3-->
				<div class="items">
					<div class="items_h">
						<div class="name">
							<img src="/public/images/H5_05/weibang_mobile_sofa3.png" alt="" />
                            <div class="name-font">
                            	<p style="color:#fffc00;">美式沙发</p>
                            </div>
						</div>
					</div>
					<div class="items_c">
						<ul>
							<li>
								<a href="#">
									<img src="/public/images/H5_05/weibang_mobile_img.png" alt="" />
									<div class="info">
										<p>转角沙发组合（A12563）</p>
										<p class="price">补贴：￥<em>1590</em>/张</p>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="/public/images/H5_05/weibang_mobile_img.png" alt="" />
									<div class="info">
										<p>转角沙发组合（A12563）</p>
										<p class="price">补贴：￥<em>1590</em>/张</p>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="/public/images/H5_05/weibang_mobile_img.png" alt="" />
									<div class="info">
										<p>转角沙发组合（A12563）</p>
										<p class="price">补贴：￥<em>1590</em>/张</p>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="/public/images/H5_05/weibang_mobile_img.png" alt="" />
									<div class="info">
										<p>转角沙发组合（A12563）</p>
										<p class="price">补贴：￥<em>1590</em>/张</p>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!--4-->
				<div class="items">
					<div class="items_h">
						<div class="name">
							<img src="/public/images/H5_05/weibang_mobile_sofa4.png" alt="" />
                            <div class="name-font">
                            	<p style="color:#ffffff;">日式沙发</p>
                            </div>
						</div>
					</div>
					<div class="items_c">
						<ul>
							<li>
								<a href="#">
									<img src="/public/images/H5_05/weibang_mobile_img.png" alt="" />
									<div class="info">
										<p>转角沙发组合（A12563）</p>
										<p class="price">补贴：￥<em>1590</em>/张</p>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="/public/images/H5_05/weibang_mobile_img.png" alt="" />
									<div class="info">
										<p>转角沙发组合（A12563）</p>
										<p class="price">补贴：￥<em>1590</em>/张</p>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="images/H5_05/weibang_mobile_img.png" alt="" />
									<div class="info">
										<p>转角沙发组合（A12563）</p>
										<p class="price">补贴：￥<em>1590</em>/张</p>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="/public/images/H5_05/weibang_mobile_img.png" alt="" />
									<div class="info">
										<p>转角沙发组合（A12563）</p>
										<p class="price">补贴：￥<em>1590</em>/张</p>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
        <link rel="stylesheet" type="text/css" href="http://topic.mc.cc/static/shadow.css?v=1111">
		<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script src="http://topic.mc.cc/static/fs_shadow.js"></script>
        <script>
            $(function () {
                fs_shadow.initDom("http://tool.mc.cc/mcf2");
                $.post("http://topic.mc.cc/wx.php", {method: "getwxconfig", url: window.location.href}, function (data) {
                    wx.config({
                        debug: false,
                        appId: data.appId,
                        timestamp: data.timestamp,
                        nonceStr: data.nonceStr,
                        signature: data.signature,
                        jsApiList: [
                            'onMenuShareTimeline',
                            'onMenuShareAppMessage'
                        ]
                    });
                    wx.ready(function () {
                        var shareData64 = {
                            title: '这里写标题',
                            desc: '这里写描述',
                            link: window.location.href,
                            imgUrl: "http://topic.mc.cc/h5/images/xxxx 这里放转发头图url"
                        };
                        wx.onMenuShareAppMessage(shareData64);
                        wx.onMenuShareTimeline(shareData64);
        
                    });
        
                    wx.error(function (res) {
                        alert(res.errMsg + " wx");
                    });
        
                }, "json")
            })
        
        </script>
	</body>
</html>
