<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>PC_05</title>
		<link rel="stylesheet" type="text/css" href="/public/css/reset_pj_pc.css"/>
		<link rel="stylesheet" type="text/css" href="/public/css/weibang.css"/>
        <link rel="stylesheet" type="text/css" href="/public/css/pop.css">

		<script src="/public/js/jquery-1.11.3.min.js"></script>
        <script src="/public/js/pop.js"></script>
        
	</head>
	<body>
    	<div class="nan-all-all">
          <div class="nav">
              <div class="left">
                  <div class="logo2"><img src="/public/images/PC_10/logo.jpg" /></div>
                  <div class="map">
                      <ul>
                          <li>
                              <img src="/public/images/PC_10/map.jpg" />
                              <span>广州</span>
                          </li>
                          <li>
                              <a>切换</a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="center">
                  <ul>
                      <li><a>首页</a></li>
                      <li><a>寻找案例</a></li>
                      <li><a>寻找优惠</a></li>
                      <li><a>地图寻店</a></li>
                      <li><a>个人中心</a></li>
                  </ul>
              </div>
              <div class="right"><a>登录</a></div>
          </div>
      </div>
		<div class="header" id="banner">
			<div class="banner">
            	<div style="width:1273px; height:100%; margin:0 auto; overflow:hidden; position:relative;">
                	<a class="know4" id="know" href="#"><img src="/public/images/PC_05/weibang_anniu_banner.png" /></a>
                    <img src="/public/images/PC_05/logo@2x.png" class="logo" />
                </div>
            </div>
		</div>
		<div class="main">
			<div class="container">
				<!--1-->
				<div class="items">
					<div class="items_h">
						<ul>
							<li><a href="#"><img src="/public/images/PC_05/weibang_img1.png" width="865" height="334"/></a></li>
							<li>
								<div class="name">
									<img src="/public/images/PC_05/weibang_home1.png" alt="" />
                                    <div class="bottom">
                                    	<p class="b-one">中式沙发</p>
                                        <p class="b-two">ZHONG SHI SHA FA</p>
                                    </div>
								</div>
							</li>
						</ul>
					</div>
					<div class="items_c">
						<ul>
							<li>
								<a class="goods_1" href="#">
									<div class="price">
										<p>可拆卸沙发组合（15623）</p>
										<p class="butie">补贴：￥<em>1590 </em>/ 张</p>
									</div>
									<img src="/public/images/PC_05/weibang_img2.png" width="511" height="380" alt="" />
								</a>
							</li>
							<li>
								<a class="goods_2" href="#">
									<div class="price">
										<p class="butie">补贴<br />：￥<span class="font_35">1</span><br /><span class="font_35">5</span><br /><span class="font_35">9</span><br /><span class="font_35">0</span><br /><span>/</span><br /> 张</p>
										<p>可拆卸沙发组合<span>（</span><br /><span>1</span><br /><span>5</span><br /><span>6</span><br /></span><span>3</span><br /><span>2</span><br /><span>）</span></p>
									</div>
									<img src="/public/images/PC_05/weibang_img4.png" width="688" height="362" alt="" />
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a class="goods_3" href="#">
									<img src="/public/images/PC_05/weibang_img5.png" width="335" height="203" alt="" />
									<div class="price">
										<p>可拆卸沙发组合（15623）</p>
										<p class="butie">补贴：￥<em>1590 </em>/ 张</p>
									</div>
								</a>
							</li>
							<li>
								<a class="goods_4" href="#">
									<img src="/public/images/PC_05/weibang_img3.png" width="335" height="430" alt="" />
									<div class="price">
										<p>可拆卸沙发组合（15623）</p>
										<p class="butie">补贴：￥<em>1590 </em>/ 张</p>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!--2-->
				<div class="items">
					<div class="items_h">
						<ul>
							<li>
								<div class="name">
									<img src="/public/images/PC_05/weibang_home2.png" alt="" />
                                    <div class="top">
                                    	<p class="b-one" style="color:#fffd01;">欧式沙发</p>
                                        <p class="b-two">ZHONG SHI SHA FA</p>
                                    </div>
								</div>
							</li>
							<li><a href="#"><img src="/public/images/PC_05/weibang_img1.png" width="865" height="334"/></a></li>
						</ul>
					</div>
					<div class="items_c">
						<ul>
							<li>
								<a class="goods_2" href="#">
									<div class="price">
										<p class="butie">补贴<br />：￥<span class="font_35">1</span><br /><span class="font_35">5</span><br /><span class="font_35">9</span><br /><span class="font_35">0</span><br /><span>/</span><br /> 张</p>
										<p>可拆卸沙发组合<span>（</span><br /><span>1</span><br /><span>5</span><br /><span>6</span><br /></span><span>3</span><br /><span>2</span><br /><span>）</span></p>
									</div>
									<img src="/public/images/PC_05/weibang_img4.png" width="688" height="362" alt="" />
								</a>
							</li>
							<li>
								<a class="goods_1" href="#">
									<img src="images/PC_05/weibang_img2.png" width="511" height="380" alt="" />
									<div class="price">
										<p>可拆卸沙发组合（15623）</p>
										<p class="butie">补贴：￥<em>1590 </em>/ 张</p>
									</div>
								</a>
							</li>
							
						</ul>
						<ul>
							<li>
								<a class="goods_4" href="#">
									<img src="/public/images/PC_05/weibang_img3.png" width="335" height="430" alt="" />
									<div class="price">
										<p>可拆卸沙发组合（15623）</p>
										<p class="butie">补贴：￥<em>1590 </em>/ 张</p>
									</div>
								</a>
							</li>
							<li>
								<a class="goods_3" href="#">
									<img src="/public/images/PC_05/weibang_img5.png" width="335" height="203" alt="" />
									<div class="price">
										<p>可拆卸沙发组合（15623）</p>
										<p class="butie">补贴：￥<em>1590 </em>/ 张</p>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!--3-->
				<div class="items">
					<div class="items_h">
						<ul>
							<li><a href="#"><img src="/public/images/PC_05/weibang_img1.png" width="865" height="334"/></a></li>
							<li>
								<div class="name">
									<img src="/public/images/PC_05/weibang_home3.png" alt="" />
                                    <div class="bottom">
                                    	<p class="b-one" style="color:#fff;">美式沙发</p>
                                        <p class="b-two">ZHONG SHI SHA FA</p>
                                    </div>
								</div>
							</li>
						</ul>
					</div>
					<div class="items_c">
						<ul>
							<li>
								<a class="goods_1" href="#">
									<div class="price">
										<p>可拆卸沙发组合（15623）</p>
										<p class="butie">补贴：￥<em>1590 </em>/ 张</p>
									</div>
									<img src="/public/images/PC_05/weibang_img2.png" width="511" height="380" alt="" />
								</a>
							</li>
							<li>
								<a class="goods_2" href="#">
									<div class="price">
										<p class="butie">补贴<br />：￥<span class="font_35">1</span><br /><span class="font_35">5</span><br /><span class="font_35">9</span><br /><span class="font_35">0</span><br /><span>/</span><br /> 张</p>
										<p>可拆卸沙发组合<span>（</span><br /><span>1</span><br /><span>5</span><br /><span>6</span><br /></span><span>3</span><br /><span>2</span><br /><span>）</span></p>
									</div>
									<img src="/public/images/PC_05/weibang_img4.png" width="688" height="362" alt="" />
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a class="goods_3" href="#">
									<img src="/public/images/PC_05/weibang_img5.png" width="335" height="203" alt="" />
									<div class="price">
										<p>可拆卸沙发组合（15623）</p>
										<p class="butie">补贴：￥<em>1590 </em>/ 张</p>
									</div>
								</a>
							</li>
							<li>
								<a class="goods_4" href="#">
									<img src="/public/images/PC_05/weibang_img3.png" width="335" height="430" alt="" />
									<div class="price">
										<p>可拆卸沙发组合（15623）</p>
										<p class="butie">补贴：￥<em>1590 </em>/ 张</p>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!--4-->
				<div class="items">
					<div class="items_h">
						<ul>
							<li>
								<div class="name">
									<img src="/public/images/PC_05/weibang_home4.png" alt="" />
                                    <div class="top">
                                    	<p class="b-one" style="color:#fff;">日式沙发</p>
                                        <p class="b-two">ZHONG SHI SHA FA</p>
                                    </div>
								</div>
							</li>
							<li><a href="#"><img src="/public/images/PC_05/weibang_img1.png" width="865" height="334"/></a></li>
						</ul>
					</div>
					<div class="items_c">
						<ul>
							<li>
								<a class="goods_2" href="#">
									<div class="price">
										<p class="butie">补贴<br />：￥<span class="font_35">1</span><br /><span class="font_35">5</span><br /><span class="font_35">9</span><br /><span class="font_35">0</span><br /><span>/</span><br /> 张</p>
										<p>可拆卸沙发组合<span>（</span><br /><span>1</span><br /><span>5</span><br /><span>6</span><br /></span><span>3</span><br /><span>2</span><br /><span>）</span></p>
									</div>
									<img src="/public/images/PC_05/weibang_img4.png" width="688" height="362" alt="" />
								</a>
							</li>
							<li>
								<a class="goods_1" href="#">
									<img src="/public/images/PC_05/weibang_img2.png" width="511" height="380" alt="" />
									<div class="price">
										<p>可拆卸沙发组合（15623）</p>
										<p class="butie">补贴：￥<em>1590 </em>/ 张</p>
									</div>
								</a>
							</li>
							
						</ul>
						<ul>
							<li>
								<a class="goods_4" href="#">
									<img src="/public/images/PC_05/weibang_img3.png" width="335" height="430" alt="" />
									<div class="price">
										<p>可拆卸沙发组合（15623）</p>
										<p class="butie">补贴：￥<em>1590 </em>/ 张</p>
									</div>
								</a>
							</li>
							<li>
								<a class="goods_3" href="#">
									<img src="/public/images/PC_05/weibang_img5.png" width="335" height="203" alt="" />
									<div class="price">
										<p>可拆卸沙发组合（15623）</p>
										<p class="butie">补贴：￥<em>1590 </em>/ 张</p>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<a class="totop" id="totop" href="#banner">回到顶部</a>
		<script type="text/javascript">
			window.onload=function(){
				var toTop=document.getElementById("totop");
				window.onscroll=function(){
					if(document.body.scrollTop>=500){
						toTop.style.display="block";
					}else{
						toTop.style.display="none";
					}
				}
			}
		</script>
        <div class="footer-all">
          <div class="footer">
              <div class="footer-items">
                <div class="fitem-title">网站导航</div>
                <div class="fitem-li">寻物</div>
                <div class="fitem-li">寻找案例</div>
                <div class="fitem-li">地图寻店</div>
                <div class="fitem-li">个人中心</div>
              </div>
              <div class="footer-items">
                <div class="fitem-title">产品和服务</div>
                <div class="fitem-li">寻物鼠</div>
                <div class="fitem-li">电商通</div>
                <div class="fitem-li">品销通</div>
                <div class="fitem-li">室尚汇</div>
                <div class="fitem-li">卖场通</div>
              </div>
              <div class="footer-items">
                <div class="fitem-title">关于我们</div>
                <div class="fitem-li">公司介绍</div>
                <div class="fitem-li">联系方式</div>
                <div class="fitem-li">合作伙伴</div>
                <div class="fitem-li">招商咨询</div>
              </div>
              <div class="footer-erweima">
                <div class="erweima">
                    <img src="/public/images/PC_08/erweima.jpg" />
                    <p>寻物鼠APP</p>
                </div>
                <div style="clear:both;"></div>
                <p class="ff-mar">© 2013 卖场网 All Rights Reserved</p>
                <p>广州卖场网网络科技有限公司 粤ICP备13086943号-2</p>
              </div>
          </div>
    	</div>
        
         <div class="pop-all">
            <a href="#" class="delete" id="delete"><img src="/public/images/PC_08/delete.png" /></a>
        </div>
        
        <!--弹出层-->
        <div class="pop-enter">
            <div class="pop-img"><img src="/public/images/PC_08/pop.jpg" /></div>
            <div class="pop-detail">
                <div class="p-mar">
                    <div class="pop-item">
                        <div class="pop-title"><img src="/public/images/PC_08/start.png" /><span>补贴不是优惠！</span></div>
                        <p>补贴是在付款时可抵消部分应付货款的现金服务。无论如何优惠打折，均可使用！</p>
                    </div>
                    <div class="pop-item">
                        <div class="pop-title"><img src="/public/images/PC_08/start.png" /><span>多种面额供您选！</span></div>
                        <p>寻物鼠现金订单补贴，面值600元到10000元不等。拿到就是赚到！</p>
                    </div>
                    <div class="pop-item">
                        <div class="pop-title"><img src="/public/images/PC_08/start.png" /><span>付款用补贴，抵现不设限！</span></div>
                        <p>无论最终订单成交价是否低于补贴面值，均可无条件使用有担保的现金补贴！</p>
                    </div>
                    <div class="pop-item">
                        <div class="pop-title"><img src="/public/images/PC_08/start.png" /><span>大牌任您选，认准快出手！</span></div>
                        <p>全市同步五千余家店铺补贴任您选，每月每店1~5张，错过再等一个月！</p>
                    </div>
                    <div class="pop-item">
                        <div class="pop-title"><img src="/public/images/PC_08/start.png" /><span>先行赔付，补贴无忧！</span></div>
                        <p>实名认证、书面承诺等多种保障。卖场网更可为现金担保的补贴进行先行赔付！</p>
                    </div>
                </div>
            </div>
        </div>
	</body>
</html>
