<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>H5_06</title>
		<link rel="stylesheet" type="text/css" href="/public/css/reset_pj.css"/>
		<link rel="stylesheet" type="text/css" href="/public/css/weibang_mobile2.css"/>
		<script type="text/javascript">
			var rem=20;
			function resizeRem(){
				rem=20/320*document.documentElement.clientWidth;
				document.documentElement.style.fontSize=rem+"px";
			}
			document.addEventListener("DOMContentLoaded",function(){
				resizeRem();
			},false)
			window.onresize=function(){
				resizeRem();
			}
		</script>
        
       
	</head>
	<body>
		<header class="banner">
			<div class="banner-img"><img src="/public/images/H5_06/logo.png" /></div>
            <a href="#" class="Hknow6"><img src="/public/images/H5_06/anniu@2x.png" /></a>
		</header>
		<section>
			<div class="main">
				<div class="items">
					<div class="items_h">
						<div class="build">1F</div>
						<div class="area">
							<p class="area_h">卫浴专区</p>
							<p>Bathroom area</p>
						</div>
						<div class="logo">
							<img src="/public/images/H5_06/weibang_mobile2_logo.png"/>
						</div>
						<div class="slogan">
							<p>TOTO卫浴</p>
							<p>绿色环保</p>
						</div>
					</div>
					<div class="items_c">
						<ul>
							<li>
								<a href="#"><img src="/public/images/H5_06/weibang_mobile2_img.png" alt="" /></a>
                                <div class="details">
                                    <p class="shopname">TOTO卫浴</p>
                                    <p class="p-2">陶瓷小清新风格卫浴T2156</p>
                                    <a href="#" class="bu one">补贴  600  元</a>
                                </div>
								
							</li>
							<li>
								<a href="#"><img src="/public/images/H5_06/weibang_mobile2_img.png" alt="" /></a>
                                <div class="details">
                                    <p class="shopname">TOTO卫浴</p>
                                    <p class="p-2">陶瓷小清新风格卫浴T2156</p>
                                    <a href="#" class="bu one">补贴  600  元</a>
                                </div>
								
							</li>
						</ul>
                        <div class="big-img">
                        	<a href="#"><img src="/public/images/H5_06/big.jpg" /></a>
                            <div class="big-font">
                            	<p class="big-title">TOTO卫浴</p>
                                <p class="p-name">陶瓷小清新风格卫浴T2156</p>
                                <a href="#" class="bu-big one">补贴  600  元</a>
                            </div>
                        </div>
					</div>
				</div>
			</div>
			<!--2-->
			<div class="main">
				<div class="items">
					<div class="items_h">
						<div class="build">2F</div>
						<div class="area">
							<p class="area_h">卫浴专区</p>
							<p>Bathroom area</p>
						</div>
						<div class="logo">
							<img src="/public/images/H5_06/weibang_mobile2_logo.png"/>
						</div>
						<div class="slogan">
							<p>TOTO卫浴</p>
							<p>绿色环保</p>
						</div>
					</div>
					<div class="items_c">
						<ul>
							<li>
								<a href="#"><img src="/public/images/H5_06/weibang_mobile2_img.png" alt="" /></a>
                                <div class="details">
                                    <p class="shopname">TOTO卫浴</p>
                                    <p class="p-2">陶瓷小清新风格卫浴T2156</p>
                                    <a href="#" class="bu two">补贴  600  元</a>
                                </div>
								
							</li>
							<li>
								<a href="#"><img src="/public/images/H5_06/weibang_mobile2_img.png" alt="" /></a>
                                <div class="details">
                                    <p class="shopname">TOTO卫浴</p>
                                    <p class="p-2">陶瓷小清新风格卫浴T2156</p>
                                    <a href="#" class="bu two">补贴  600  元</a>
                                </div>
								
							</li>
						</ul>
                        <div class="big-img">
                        	<a href="#"><img src="/public/images/H5_06/big.jpg" /></a>
                            <div class="big-font">
                            	<p class="big-title">TOTO卫浴</p>
                                <p class="p-name">陶瓷小清新风格卫浴T2156</p>
                                <a href="#" class="bu-big two">补贴  600  元</a>
                            </div>
                        </div>
						
					</div>
				</div>
			</div>
			<!--3-->
			<div class="main">
				<div class="items">
					<div class="items_h">
						<div class="build">3F</div>
						<div class="area">
							<p class="area_h">卫浴专区</p>
							<p>Bathroom area</p>
						</div>
						<div class="logo">
							<img src="/public/images/H5_06/weibang_mobile2_logo.png"/>
						</div>
						<div class="slogan">
							<p>TOTO卫浴</p>
							<p>绿色环保</p>
						</div>
					</div>
					<div class="items_c">
						<ul>
							<li>
								<a href="#"><img src="/public/images/H5_06/weibang_mobile2_img.png" alt="" /></a>
                                <div class="details">
                                    <p class="shopname">TOTO卫浴</p>
                                    <p class="p-2">陶瓷小清新风格卫浴T2156</p>
                                    <a href="#" class="bu three">补贴  600  元</a>
                                </div>
								
							</li>
							<li>
								<a href="#"><img src="/public/images/H5_06/weibang_mobile2_img.png" alt="" /></a>
                                <div class="details">
                                    <p class="shopname">TOTO卫浴</p>
                                    <p class="p-2">陶瓷小清新风格卫浴T2156</p>
                                    <a href="#" class="bu three">补贴  600  元</a>
                                </div>
								
							</li>
						</ul>
						<div class="big-img">
                        	<a href="#"><img src="/public/images/H5_06/big.jpg" /></a>
                            <div class="big-font">
                            	<p class="big-title">TOTO卫浴</p>
                                <p class="p-name">陶瓷小清新风格卫浴T2156</p>
                                <a href="#" class="bu-big three">补贴  600  元</a>
                            </div>
                        </div>
					</div>
				</div>
			</div>
			<!--4-->
			<div class="main">
				<div class="items">
					<div class="items_h">
						<div class="build">4F</div>
						<div class="area">
							<p class="area_h">卫浴专区</p>
							<p>Bathroom area</p>
						</div>
						<div class="logo">
							<img src="/public/images/H5_06/weibang_mobile2_logo.png"/>
						</div>
						<div class="slogan">
							<p>TOTO卫浴</p>
							<p>绿色环保</p>
						</div>
					</div>
					<div class="items_c">
						<ul>
							<li>
								<a href="#"><img src="/public/images/H5_06/weibang_mobile2_img.png" alt="" /></a>
                                <div class="details">
                                    <p class="shopname">TOTO卫浴</p>
                                    <p class="p-2">陶瓷小清新风格卫浴T2156</p>
                                    <a href="#" class="bu four">补贴  600  元</a>
                                </div>
								
							</li>
							<li>
								<a href="#"><img src="/public/images/H5_06/weibang_mobile2_img.png" alt="" /></a>
                                <div class="details">
                                    <p class="shopname">TOTO卫浴</p>
                                    <p class="p-2">陶瓷小清新风格卫浴T2156</p>
                                    <a href="#" class="bu four">补贴  600  元</a>
                                </div>
								
							</li>
						</ul>
                        <div class="big-img">
                        	<a href="#"><img src="/public/images/H5_06/big.jpg" /></a>
                            <div class="big-font">
                            	<p class="big-title">TOTO卫浴</p>
                                <p class="p-name">陶瓷小清新风格卫浴T2156</p>
                                <a href="#" class="bu-big four">补贴  600  元</a>
                            </div>
                        </div>
						
					</div>
				</div>
			</div>
            <!--5-->
            <div class="main">
				<div class="items">
					<div class="items_h">
						<div class="build">5F</div>
						<div class="area">
							<p class="area_h">卫浴专区</p>
							<p>Bathroom area</p>
						</div>
						<div class="logo">
							<img src="/public/images/H5_06/weibang_mobile2_logo.png"/>
						</div>
						<div class="slogan">
							<p>TOTO卫浴</p>
							<p>绿色环保</p>
						</div>
					</div>
					<div class="items_c">
						<ul>
							<li>
								<a href="#"><img src="/public/images/H5_06/weibang_mobile2_img.png" alt="" /></a>
                                <div class="details">
                                    <p class="shopname">TOTO卫浴</p>
                                    <p class="p-2">陶瓷小清新风格卫浴T2156</p>
                                    <a href="#" class="bu five">补贴  600  元</a>
                                </div>
								
							</li>
							<li>
								<a href="#"><img src="/public/images/H5_06/weibang_mobile2_img.png" alt="" /></a>
                                <div class="details">
                                    <p class="shopname">TOTO卫浴</p>
                                    <p class="p-2">陶瓷小清新风格卫浴T2156</p>
                                    <a href="#" class="bu five">补贴  600  元</a>
                                </div>
								
							</li>
						</ul>
						<div class="big-img">
                        	<a href="#"><img src="/public/images/H5_06/big.jpg" /></a>
                            <div class="big-font">
                            	<p class="big-title">TOTO卫浴</p>
                                <p class="p-name">陶瓷小清新风格卫浴T2156</p>
                                <a href="#" class="bu-big five">补贴  600  元</a>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</section>
		<link rel="stylesheet" type="text/css" href="http://topic.mc.cc/static/shadow.css?v=1111">
		<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
		<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<script src="http://topic.mc.cc/static/fs_shadow.js"></script>
		<script>
		    $(function () {
		        fs_shadow.initDom("http://tool.mc.cc/mcf2");
		        $.post("http://topic.mc.cc/wx.php", {method: "getwxconfig", url: window.location.href}, function (data) {
		            wx.config({
		                debug: false,
		                appId: data.appId,
		                timestamp: data.timestamp,
		                nonceStr: data.nonceStr,
		                signature: data.signature,
		                jsApiList: [
		                    'onMenuShareTimeline',
		                    'onMenuShareAppMessage'
		                ]
		            });
		            wx.ready(function () {
		                var shareData64 = {
		                    title: '这里写标题',
		                    desc: '这里写描述',
		                    link: window.location.href,
		                    imgUrl: "http://topic.mc.cc/h5/images/xxxx 这里放转发头图url"
		                };
		                wx.onMenuShareAppMessage(shareData64);
		                wx.onMenuShareTimeline(shareData64);
		
		            });
		
		            wx.error(function (res) {
		                alert(res.errMsg + " wx");
		            });
		
		        }, "json")
		    })
		
		</script>
	</body>
</html>
