<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>H5_08</title>
<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">

<link rel="stylesheet" type="text/css" href="/public/css/reset.css">
<link rel="stylesheet" type="text/css" href="/public/css/font.css">
<link rel="stylesheet" type="text/css" href="/public/css/H5_08.css">


<script src="/public/js/jquery-1.11.3.min.js"></script>
<script src="/public/js/public.js"></script>

<style type="text/css">
	
</style>


</head>

<body>
	<header>
    	<div class="header-main">
        	<img src="/public/images/H5_08/header-img.png" />
            <span class="logo"><img src="/public/images/H5_08/logo.png" /></span>
            <span class="year">2016</span>
        </div>
        <div class="style">
        	<p>ownstyle</p>
            <p>找到自己的家装风格</p>
            <p>也许，外面的世界一片喧嚣，但是我们却能让这个空间保持宁静。这要归功于其材质——天然、质朴、而且浪漫</p>
        </div>
        <a href="#" class="Hknow8"><img src="/public/images/H5_08/bu.png" /></a>
    </header>
	<section class="one-bg">
    	<div class="title t1">
        	<p class="name">实木地板专区</p>
            <p class="summary">天然</p>
        </div>
        <a href="#"><div class="item">
        	<div class="detail left"><img src="/public/images/H5_08/1.jpg" /></div>
            <div class="detail-font right">
            	<p class="d-1">大自然地板</p>
                <p class="d-2" style="margin-top:20px;"><label>型号：</label><span>T96446</span></p>
                <p class="d-2" style="margin-top:10px;"><label>规格：</label><span>910X126X15</span></p>
            </div>
        </div></a>
        <div class="item2">
        	<div class="name-lg left">
            	<div class="name-name"><span>实木</span></div>
                <a href="#"><div class="lg">
                	<img src="/public/images/H5_08/lg.jpg" />
                </div></a>
            </div>
            <a href="#"><div class="jieshao right">
            	<div class="jieshao-img"><img src="/public/images/H5_08/2.jpg" /></div>
                <div class="jieshao-font">
                	<p class="jie-p1">大自然地板</p>
                    <p class="jie-p2">型号：T96446</p>
                    <p class="jie-p2" style="margin-top:-4px;">规格：910X126X15</p>
                </div>
            </div></a>
            
        </div>
        <a href="#"><div class="item3">
            <div class="r3-font left">
                <p class="d-1" style="margin-top:31px;">大自然地板</p>
                <p class="d-2" style="margin-top:10px;"><label>型号：</label><span>T96446</span></p>
                <p class="d-2" style="margin-top:10px;"><label>规格：</label><span>910X126X15</span></p>
            </div>
            <div class="r3-img right"><img src="/public/images/H5_08/3.jpg" /></div>
        </div></a>
        <div style="width:100%; height:93px; overflow:hidden;"></div>
    </section>
    <section class="two-bg">
    	<div class="title t2">
        	<p class="name">复合地板专区</p>
            <p class="summary">天然</p>
        </div>
        <a href="#"><div class="item">
        	<div class="detail-font left">
            	<p class="d-1">大自然地板</p>
                <p class="d-2" style="margin-top:20px;"><label>型号：</label><span>T96446</span></p>
                <p class="d-2" style="margin-top:10px;"><label>规格：</label><span>910X126X15</span></p>
            </div>
        	<div class="detail right"><img src="/public/images/H5_08/1.jpg" /></div>
            
        </div></a>
        <div class="item2">
        	
            <a href="#"><div class="jieshao left">
            	<div class="jieshao-img"><img src="/public/images/H5_08/2.jpg" /></div>
                <div class="jieshao-font">
                	<p class="jie-p1">大自然地板</p>
                    <p class="jie-p2">型号：T96446</p>
                    <p class="jie-p2" style="margin-top:-4px;">规格：910X126X15</p>
                </div>
            </div></a>
            <div class="name-lg right">
            	<div class="name-name" style="background:url(images/H5_08/name-name2.png)"><span style="color:#fff;">复合</span></div>
                <a href="#"><div class="lg"><img src="/public/images/H5_08/lg.jpg" /></div></a>
            </div>
            
        </div>
        <a href="#"><div class="item3">
            
            <div class="r3-img left"><img src="/public/images/H5_08/3.jpg" /></div>
            <div class="r3-font right">
                <p class="d-1" style="margin-top:31px;">大自然地板</p>
                <p class="d-2" style="margin-top:10px;"><label>型号：</label><span>T96446</span></p>
                <p class="d-2" style="margin-top:10px;"><label>规格：</label><span>910X126X15</span></p>
            </div>
        </div></a>
        <div style="width:100%; height:77px; overflow:hidden;"></div>
    </section>
    <section class="three-bg">
    	<div class="title t3">
        	<p class="name">PVC地板专区</p>
            <p class="summary">天然</p>
        </div>
        <a href="#"><div class="item">
        	<div class="detail-font left">
            	<p class="d-1">大自然地板</p>
                <p class="d-2" style="margin-top:20px;"><label>型号：</label><span>T96446</span></p>
                <p class="d-2" style="margin-top:10px;"><label>规格：</label><span>910X126X15</span></p>
            </div>
        	<div class="detail right"><img src="/public/images/H5_08/1.jpg" /></div>
            
        </div></a>
        <div class="item2">
        	
            <a href="#"><div class="jieshao left">
            	<div class="jieshao-img"><img src="/public/images/H5_08/2.jpg" /></div>
                <div class="jieshao-font">
                	<p class="jie-p1">大自然地板</p>
                    <p class="jie-p2">型号：T96446</p>
                    <p class="jie-p2" style="margin-top:-4px;">规格：910X126X15</p>
                </div>
            </div></a>
            <div class="name-lg right">
            	<div class="name-name"><span>PVC</span></div>
                <a href="#"><div class="lg"><img src="/public/images/H5_08/lg.jpg" /></div></a>
            </div>
            
        </div>
        <a href="#"><div class="item3">
            
            <div class="r3-img left"><img src="/public/images/H5_08/3.jpg" /></div>
            <div class="r3-font right">
                <p class="d-1" style="margin-top:31px;">大自然地板</p>
                <p class="d-2" style="margin-top:10px;"><label>型号：</label><span>T96446</span></p>
                <p class="d-2" style="margin-top:10px;"><label>规格：</label><span>910X126X15</span></p>
            </div>
        </div></a>
        <div style="width:100%; height:93px; overflow:hidden;"></div>
    </section>
    <link rel="stylesheet" type="text/css" href="http://topic.mc.cc/static/shadow.css?v=1111">
	<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="http://topic.mc.cc/static/fs_shadow.js"></script>
    <script>
        $(function () {
            fs_shadow.initDom("http://tool.mc.cc/mcf2");
            $.post("http://topic.mc.cc/wx.php", {method: "getwxconfig", url: window.location.href}, function (data) {
                wx.config({
                    debug: false,
                    appId: data.appId,
                    timestamp: data.timestamp,
                    nonceStr: data.nonceStr,
                    signature: data.signature,
                    jsApiList: [
                        'onMenuShareTimeline',
                        'onMenuShareAppMessage'
                    ]
                });
                wx.ready(function () {
                    var shareData64 = {
                        title: '这里写标题',
                        desc: '这里写描述',
                        link: window.location.href,
                        imgUrl: "http://topic.mc.cc/h5/images/xxxx 这里放转发头图url"
                    };
                    wx.onMenuShareAppMessage(shareData64);
                    wx.onMenuShareTimeline(shareData64);
    
                });
    
                wx.error(function (res) {
                    alert(res.errMsg + " wx");
                });
    
            }, "json")
        })
    
    </script>
</body>
</html>
