<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>H5_09</title>
<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">

<link rel="stylesheet" type="text/css" href="/public/css/reset.css">
<link rel="stylesheet" type="text/css" href="/public/css/H5_09.css">
<link rel="stylesheet" type="text/css" href="/public/css/font.css">

<script src="/public/js/jquery-1.11.3.min.js"></script>
<script src="/public/js/public.js"></script>


</head>

<body>
	<header>
    	<img src="/public/images/H5_09/header.jpg" /><img class="logo" src="/public/images/H5_09/lgo.jpg" />
    	<a href="#" class="Hknow9"><img src="/public/images/H5_09/bu.png" /></a>
    </header>
    <section class="bg-keting">
    	<div class="title">
        	<p class="p-one">COMMODITY</p>
            <p class="p-two">客厅专区</p>
        </div>
        <a href="#"><div class="big-img big-bg-one">
        	<div class="img-radius"><img src="/public/images/H5_09/tu@2x.png" /></div>
        </div></a>
        <div class="product">
        	<ul>
            	<li>
                	<div class="pro-item">
                    	<img src="/public/images/H5_09/k-1.jpg" />
                        <a href="#"><div class="kuang">
                        	<p class="name">雅典布艺</p>
                            <p class="address">番禺吉盛伟邦三楼C3076</p>
                            <p class="money">补贴600元</p>
                        </div></a>
                    </div>
                </li>
                <li>
                	<div class="pro-item">
                    	<img src="/public/images/H5_09/k-2.jpg" />
                        <a href="#"><div class="kuang">
                        	<p class="name">光明灯饰</p>
                            <p class="address">番禺吉盛伟邦三楼C3076</p>
                            <p class="money">补贴600元</p>
                        </div></a>
                    </div>
                </li>
                <li>
                	<div class="pro-item">
                    	<img src="/public/images/H5_09/k-3.jpg" />
                        <a href="#"><div class="kuang">
                        	<p class="name">柚乐居家具</p>
                            <p class="address">番禺吉盛伟邦三楼C3076</p>
                            <p class="money">补贴600元</p>
                        </div></a>
                    </div>
                </li>
                <li>
                	<div class="pro-item">
                    	<img src="/public/images/H5_09/k-4.jpg" />
                        <a href="#"><div class="kuang">
                        	<p class="name">领袖壁纸墙布</p>
                            <p class="address">番禺吉盛伟邦三楼C3076</p>
                            <p class="money">补贴600元</p>
                        </div></a>
                    </div>
                </li>
                <li>
                	<div class="pro-item">
                    	<img src="/public/images/H5_09/k-5.jpg" />
                        <a href="#"><div class="kuang">
                        	<p class="name">康家宝硅藻泥</p>
                            <p class="address">番禺吉盛伟邦三楼C3076</p>
                            <p class="money">补贴600元</p>
                        </div></a>
                    </div>
                </li>
                <li>
                	<div class="pro-item">
                    	<img src="/public/images/H5_09/k-6.jpg" />
                        <a href="#"><div class="kuang">
                        	<p class="name">芬琳漆</p>
                            <p class="address">番禺吉盛伟邦三楼C3076</p>
                            <p class="money">补贴600元</p>
                        </div></a>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="bg-room">
    	<div class="title">
        	<p class="p-one">COMMODITY</p>
            <p class="p-two">卧室专区</p>
        </div>
        <a href="#"><div class="big-img big-bg-two">
        	<div class="img-radius"><img src="/public/images/H5_09/tu@2x.png" /></div>
        </div></a>
        <div class="product">
        	<ul>
            	<li>
                	<div class="pro-item">
                    	<img src="/public/images/H5_09/k-1.jpg" />
                        <a href="#"><div class="kuang">
                        	<p class="name">雅典布艺</p>
                            <p class="address">番禺吉盛伟邦三楼C3076</p>
                            <p class="money">补贴600元</p>
                        </div></a>
                    </div>
                </li>
                <li>
                	<div class="pro-item">
                    	<img src="/public/images/H5_09/k-2.jpg" />
                        <a href="#"><div class="kuang">
                        	<p class="name">光明灯饰</p>
                            <p class="address">番禺吉盛伟邦三楼C3076</p>
                            <p class="money">补贴600元</p>
                        </div></a>
                    </div>
                </li>
                <li>
                	<div class="pro-item">
                    	<img src="/public/images/H5_09/k-3.jpg" />
                        <a href="#"><div class="kuang">
                        	<p class="name">柚乐居家具</p>
                            <p class="address">番禺吉盛伟邦三楼C3076</p>
                            <p class="money">补贴600元</p>
                        </div></a>
                    </div>
                </li>
                <li>
                	<div class="pro-item">
                    	<img src="/public/images/H5_09/k-4.jpg" />
                        <a href="#"><div class="kuang">
                        	<p class="name">领袖壁纸墙布</p>
                            <p class="address">番禺吉盛伟邦三楼C3076</p>
                            <p class="money">补贴600元</p>
                        </div></a>
                    </div>
                </li>
                <li>
                	<div class="pro-item">
                    	<img src="/public/images/H5_09/k-5.jpg" />
                        <a href="#"><div class="kuang">
                        	<p class="name">康家宝硅藻泥</p>
                            <p class="address">番禺吉盛伟邦三楼C3076</p>
                            <p class="money">补贴600元</p>
                        </div></a>
                    </div>
                </li>
                <li>
                	<div class="pro-item">
                    	<img src="/public/images/H5_09/k-6.jpg" />
                        <a href="#"><div class="kuang">
                        	<p class="name">芬琳漆</p>
                            <p class="address">番禺吉盛伟邦三楼C3076</p>
                            <p class="money">补贴600元</p>
                        </div></a>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="bg-cook">
    	<div class="title">
        	<p class="p-one">COMMODITY</p>
            <p class="p-two">厨房专区</p>
        </div>
        <a href="#"><div class="big-img big-bg-three">
        	<div class="img-radius"><img src="/public/images/H5_09/tu@2x.png" /></div>
        </div></a>
        <div class="product">
        	<ul>
            	<li>
                	<div class="pro-item">
                    	<img src="/public/images/H5_09/k-1.jpg" />
                        <a href="#"><div class="kuang">
                        	<p class="name">雅典布艺</p>
                            <p class="address">番禺吉盛伟邦三楼C3076</p>
                            <p class="money">补贴600元</p>
                        </div></a>
                    </div>
                </li>
                <li>
                	<div class="pro-item">
                    	<img src="/public/images/H5_09/k-2.jpg" />
                        <a href="#"><div class="kuang">
                        	<p class="name">光明灯饰</p>
                            <p class="address">番禺吉盛伟邦三楼C3076</p>
                            <p class="money">补贴600元</p>
                        </div></a>
                    </div>
                </li>
                <li>
                	<div class="pro-item">
                    	<img src="/public/images/H5_09/k-3.jpg" />
                        <a href="#"><div class="kuang">
                        	<p class="name">柚乐居家具</p>
                            <p class="address">番禺吉盛伟邦三楼C3076</p>
                            <p class="money">补贴600元</p>
                        </div></a>
                    </div>
                </li>
                <li>
                	<div class="pro-item">
                    	<img src="/public/images/H5_09/k-4.jpg" />
                        <a href="#"><div class="kuang">
                        	<p class="name">领袖壁纸墙布</p>
                            <p class="address">番禺吉盛伟邦三楼C3076</p>
                            <p class="money">补贴600元</p>
                        </div></a>
                    </div>
                </li>
                <li>
                	<div class="pro-item">
                    	<img src="/public/images/H5_09/k-5.jpg" />
                        <a href="#"><div class="kuang">
                        	<p class="name">康家宝硅藻泥</p>
                            <p class="address">番禺吉盛伟邦三楼C3076</p>
                            <p class="money">补贴600元</p>
                        </div></a>
                    </div>
                </li>
                <li>
                	<div class="pro-item">
                    	<img src="/public/images/H5_09/k-6.jpg" />
                        <a href="#"><div class="kuang">
                        	<p class="name">芬琳漆</p>
                            <p class="address">番禺吉盛伟邦三楼C3076</p>
                            <p class="money">补贴600元</p>
                        </div></a>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <link rel="stylesheet" type="text/css" href="http://topic.mc.cc/static/shadow.css?v=1111">
	<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="http://topic.mc.cc/static/fs_shadow.js"></script>
    <script>
        $(function () {
            fs_shadow.initDom("http://tool.mc.cc/mcf2");
            $.post("http://topic.mc.cc/wx.php", {method: "getwxconfig", url: window.location.href}, function (data) {
                wx.config({
                    debug: false,
                    appId: data.appId,
                    timestamp: data.timestamp,
                    nonceStr: data.nonceStr,
                    signature: data.signature,
                    jsApiList: [
                        'onMenuShareTimeline',
                        'onMenuShareAppMessage'
                    ]
                });
                wx.ready(function () {
                    var shareData64 = {
                        title: '这里写标题',
                        desc: '这里写描述',
                        link: window.location.href,
                        imgUrl: "http://topic.mc.cc/h5/images/xxxx 这里放转发头图url"
                    };
                    wx.onMenuShareAppMessage(shareData64);
                    wx.onMenuShareTimeline(shareData64);
    
                });
    
                wx.error(function (res) {
                    alert(res.errMsg + " wx");
                });
    
            }, "json")
        })
    
    </script>
</body>
</html>
